<template>
  <div class="Expander">
    <div class="Expander__trigger" :data-link="item.month">
      <h6>{{ item.fullmonth }}</h6>
      <svg width="11" height="8" viewBox="0 0 11 8" fill="none" class="Expander__trigger-Icon">
        <path
          d="M5.07078 0.542219L0.17573 5.98126C0.0624223 6.10706 0 6.27499 0 6.45405C0 6.63311 0.0624223 6.80104 0.17573 6.92684L0.536134 7.32739C0.770977 7.58803 1.15267 7.58803 1.38715 7.32739L5.49772 2.76009L9.61285 7.33245C9.72616 7.45825 9.8772 7.52771 10.0383 7.52771C10.1995 7.52771 10.3506 7.45825 10.464 7.33245L10.8243 6.93191C10.9376 6.80601 11 6.63818 11 6.45912C11 6.28006 10.9376 6.11213 10.8243 5.98633L5.92475 0.542219C5.81108 0.416122 5.65932 0.346864 5.49799 0.347261C5.33603 0.346864 5.18436 0.416122 5.07078 0.542219Z"
          fill="#363636"
        />
      </svg>
    </div>
    <div class="Expander__body">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: Object,
    title: {
      type: String,
      default: "title"
    },
    animation: {
      type: String,
      default: "leftToRight"
    }
  }
};
</script>
<style lang="scss" scoped>
.Expander {
  margin-bottom: 3rem;
  &__trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    padding: 2.6rem 3rem;
    background: #eff1f8;
    border-bottom: 1px solid #efefef;
    @media only screen and (max-width: 1199px) {
      padding: 2rem 1.5rem;
    }
    h6 {
      font-size: 2rem;
      line-height: 1.7rem;
      text-transform: capitalize;
      margin-right: 1.5rem;
      @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
    &-Icon {
      transition: transform 0.3s ease-in-out;
      transform: rotate(180deg);
      &.open {
        fill: #283891;
        transform: rotate(0);
      }
    }
    &:hover {
      color: #283891;
      svg path {
        fill: #283891;
      }
    }
    &.active {
      //color #777
      border-bottom-color: #283891;
    }
    svg {
      width: auto;
    }
  }
  &__body {
    //height: 15rem;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background: #fff; //#dee2e6 //#f1f1f1
    //visibility: hidden;
  }
  &.active {
    .Expander__body {
      //visibility: visible;
    }
    .Expander__trigger {
      color: #283891;
      svg {
        transform: rotate(0);
      }
      svg path {
        fill: #283891;
      }
    }
  }
}
</style>