<template>
  <div class="preloader" :class="loading ? '': 'loading'">
    <div class="bubbles">
      <div class="bubble" v-for="i in 6" :key="i">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    loading() {
      return this.$store.getters.loading;
    }
  }
};
</script>
<style lang="scss" scoped>
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #f9faff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s cubic-bezier(1, 0.01, 1, 0.85);
  &.loading {
    transform: translateX(-100vw);
  }
  .bubbles {
    position: relative;
    .bubble {
      display: inline-block;
      padding: 0px 5px;
      @for $i from 1 to 11 {
        &:nth-of-type(#{$i}) .circle {
          animation-delay: $i * 0.1s;
        }
      }
      .circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: $textBlue;
        animation: pulse 1.5s infinite;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
  }
}
</style>