<template>
  <div class="shop" v-in-viewport.once="{margin: '-120px'}">
    <div class="container bg-line"></div>
    <div class="container content">
      <div>
        <h4 class="white part-title">Bridgeport United fc</h4>
        <h3 class="white">official fun store</h3>
        <router-link to="/shop" tag="a" class="btn btn_big">
          <span class="text">start shopping</span>
        </router-link>
      </div>
      <div></div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.shop {
  position: relative;
  height: 55rem;
  min-width: 100%;
  background-image: url("./../../assets/img/shop-bg.png");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 992px) {
    height: 45rem;
  }
  @media only screen and (max-width: 768px) {
    height: 40rem;
  }
  /*.btn {
    &:hover {
      background: #fff;
      color: #0a0736;
    }
  }*/
  .container.content {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10rem;
    position: relative;
    z-index: 2;
    @media only screen and (max-width: 992px) {
      padding-right: 4rem;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
      padding-right: 0;
    }
    & > div:first-of-type {
      h4,
      h3,
      a {
        opacity: 0;
        transform: translate(50vw, 0);
        transition: all 1.5s ease-in-out;
      }
    }
    & > div:last-of-type {
      width: 47rem;
      padding-top: 35%;
      background-image: url("./../../assets/img/t-shirt.png");
      background-size: cover;
      margin-top: 3rem;
      transform: translate(50vw, 0);
      opacity: 0;
      transition: all 1.5s ease-in-out 1s;
      @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
        display: none;
      }
    }
  }
  &.in-viewport {
    .container.content {
      & > div:first-of-type {
        h4,
        h3 {
          transform: translate(0, 0);
          opacity: 1;
        }
        a {
          opacity: 1;
          transform: translate(0, 0);
          transition-delay: 0.5s;
        }
      }
      & > div:last-of-type {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }
  &:after,
  &:before {
    position: absolute;
    top: 0;
    content: "";
    width: calc((100vw - 117rem) / 2);
    height: 100%;
    @media only screen and (max-width: 1199px) {
      width: calc((100vw - 105rem) / 2);
    }
    @media only screen and (max-width: 992px) {
      width: calc((100vw - 75rem) / 2);
    }
    @media only screen and (max-width: 768px) {
      width: calc(100% - (100% / 3));
    }
    @media only screen and (max-width: 599px) {
      width: 100%;
    }
  }
  &:before {
    left: 0;
    width: calc(((100vw - 117rem) / 2) + (117rem / 3));
    background: linear-gradient(
      309.78deg,
      #0a0736 0.36%,
      rgba(30, 27, 68, 0.864583) 18.11%,
      rgba(38, 34, 98, 0.03) 56.23%
    );
    opacity: 0.7;
    @media only screen and (max-width: 1199px) {
      width: calc(((100vw - 105rem) / 2) + (105rem / 3));
    }
    @media only screen and (max-width: 992px) {
      width: calc(((100vw - 75rem) / 2) + (75rem / 3));
    }
    @media only screen and (max-width: 768px) {
      width: calc(100% / 3);
    }
    @media only screen and (max-width: 599px) {
      width: 0;
    }
  }
  &:after {
    right: 0;
    background: linear-gradient(
      270.11deg,
      #0a0736 0.08%,
      rgba(30, 27, 68, 0.864583) 51.53%,
      rgba(38, 34, 98, 0.03) 162.03%
    );
    opacity: 0.4;
  }
}
.container {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
</style>