<template>
  <div class="sponsors container">
    <div class="title-invisible invisible" v-in-viewport.once>
      <h4 class="title">Sponsors</h4>
    </div>
    <div v-if="!mobile">
      <div v-for="item in sponsors" :key="item.title">
        <!--<img :src="require(`@/assets/${item.img}`)" :alt="item.title" />-->
        <img :src="item.logoUrl" :alt="item.title" />

        <a :href="item.url" target="_blank"></a>
      </div>
    </div>
    <div v-else class="mobile">
      <swiper :options="sponsorsOptions" ref="mySwiper">
        <swiper-slide v-for="item in sponsors" :key="item.title">
          <div>
            <img :src="item.logoUrl" :alt="item.title" />
            <a :href="item.url" target="_blank"></a>
          </div>
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination sponsors-slider" slot="pagination"></div>
    </div>
  </div>
</template>
<script>
import { swiper, swiperSlide } from "vue-awesome-swiper";

const url = "https://backend.football.1pls1.com/api";

export default {
  data() {
    return {
      sponsorsOptions: {
        slidesToShow: 1,
        //loop: true,
        dots: true,
        arrows: false,
        speed: 1500,
        easing: "cubic-bezier(.6,0,.22,1)",
        pagination: {
          el: ".sponsors-slider",
          dynamicBullets: true,
          dynamicMainBullets: 3,
          clickable: true
        }
      }
    };
  },
  computed: {
    sponsors() {
      return this.$store.getters.sponsors;
    },
    mobile() {
      return this.$store.state.mobile;
    }
  },
  methods: {
    setSponsors() {
      this.$http
        .get(url + "/sponsors", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("sponsors: ", response.data);
            const payload = response.data;
            return this.$store.dispatch("setSponsors", payload);
          },
          error => {
            console.log(error);
          }
        );
    }
  },
  mounted() {
    this.setSponsors();
  },
  components: {
    swiper,
    swiperSlide
  }
};
</script>
<style lang="scss" scoped>
.sponsors {
  position: relative;
  padding: 9rem 0 12.5rem;
  @media only screen and (max-width: 992px) {
    padding: 6rem 0;
  }
  @media only screen and (max-width: 768px) {
    padding-bottom: 9rem;
  }
  .title {
    margin-bottom: 2.4rem;
  }
  & > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    div:not(.swiper-pagination) {
      position: relative;
      padding: 0 1rem;
      @media only screen and (max-width: 992px) {
        width: 15%;
        img {
          max-width: 100%;
          width: 20rem;
        }
      }
      @media only screen and (max-width: 768px) {
        width: 100%;
        height: 20rem;
        display: flex;
        align-items: center;
        img {
          margin: 0 auto;
        }
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    img {
      max-width: 16.2rem;
    }
  }
}
.mobile {
  position: relative;
}
.swiper-pagination {
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  @media only screen and (max-width: 768px) {
    bottom: -3rem;
  }
}
</style>