<template>
  <div class="staff-block" @click="goTodetail(item)">
    <img :src="item.imageUrl" />
    <div class="content">
      <div class="info">
        <h5>
          <span>{{item.name}}</span>
          {{item.lastName}}
        </h5>
        <h6>{{item.participantPosition.name}}</h6>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: Object
  },
  data() {
    return {
      img: this.item.img
    };
  },
  methods: {
    goTodetail(staffId) {
      this.$router.push({ name: "single-staff", params: { id: staffId.id } });
    }
  }
};
</script>
<style lang="scss" scoped>
.staff-block {
  width: 100%;
  background-image: url("./../../assets/img/card-bg-dark.png");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  padding: 3rem 1.75rem;
  padding-top: 57%;
  overflow: hidden;
  @media only screen and (max-width: 992px) {
    padding-top: 50%;
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      359.76deg,
      #111116 12.71%,
      rgba(0, 0, 0, 0) 45.39%
    );
    z-index: 1;
  }
  img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    @media only screen and (max-width: 992px) {
      max-width: 116%;
    }
    @media only screen and (max-width: 640px) {
      //max-width: 98%;
      max-height: initial;
      top: 2%;
      width: 60%;
    }
    @media only screen and (max-width: 400px) {
      max-width: 112%;
      bottom: -2rem;
    }
  }
}
.content {
  height: 100%;
  width: 100%;
  * {
    position: relative;
    z-index: 9;
  }
}
.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #fff;
  z-index: 9;
  overflow: hidden;
  .info {
    top: 0;
    transition: all 0.3s ease-in-out;
    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      padding-top: 1.9rem;
      position: relative;
      height: 10rem;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: rgba(235, 239, 239, 0.1);
      }
    }
  }
  h5 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    span {
      font-weight: 400;
    }
  }
  h6 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-bottom: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-family: $Rob;
  }
}
</style>