<template>
  <div class="tags">
    <a href="#" v-for="i in tags" :key="i">#{{i}}</a>
  </div>
</template>
<script>
export default {
  computed: {
    tags() {
      return this.$store.getters.tags;
    }
  }
};
</script>
<style lang="scss" scoped>
.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% - 25rem);
  padding: 1rem 0;
  @media only screen and (max-width: 768px) {
    width: auto;
  }
  a {
    color: #262262;
    margin-right: 5px;
  }
  &.white {
    a {
      color: #fff;
    }
  }
}
</style>