<template>
  <app-table
    :columns="columns"
    :rows="getTeams"
    styleClass="vgt-table"
    :row-style-class="rowStyleClassFn"
  ></app-table>
</template>
<script>
import "vue-good-table/dist/vue-good-table.css";
import { VueGoodTable } from "vue-good-table";

export default {
  props: {
    filterValue: Boolean,
    columns: Array
  },
  data() {
    return {};
  },
  computed: {
    getTeams() {
      var teams = this.$store.getters.teams;
      this.sortPoints(teams);
      this.positionCheck(teams);
      if (this.filterValue === true) {
        teams = this.filterTeams(teams);
        return teams;
      } else return teams;
    }
  },
  methods: {
    rowStyleClassFn(row) {
      return row.name == "Bridgeport Utd" ? "active" : false;
    },
    sortPoints(arr) {
      arr.map(el => {
        var points = 0;
        if (el.teamStats) {
          el.teamStats.map(elem => {
            points = elem.win * 3 + elem.draw * 2 + elem.lost * 0;
          });
        }
        el.points = points;
      });
      arr.sort((a, b) => (a.points > b.points ? -1 : 1));
    },
    positionCheck(arr) {
      arr.forEach(function(el, index) {
        el.position = index + 1;
      });
    },
    filterTeams(arr) {
      //arr.slice(0, 9);
      if (arr.length > 7) {
        arr = arr.slice(0, 9);
        arr.splice(4, 3, { points: ". . .", position: ". . ." });
      }
      return arr;
    }
  },
  components: {
    "app-table": VueGoodTable
  }
};
</script>
<style lang="scss" scoped>
</style>