<template>
  <div>
    <div class="hero invisible home-hero">
      <div class="bg-line container"></div>
      <div class="slider-overlay">
        <slick ref="slick" :options="slickOptions" dir="rtl">
          <div
            v-for="item in slideInfo"
            :key="item.id"
            :style="{ backgroundImage: 'url(' + require(`@/assets/` +  item.img) + ')' }"
          >
            <div class="content container">
              <div>
                <h2>{{item.title}}</h2>
              </div>
            </div>
          </div>
        </slick>
      </div>
      <div class="main-news">
        <div class="news-list horizontal home">
          <app-news v-for="item in news" :item="item" :key="item.id"></app-news>
        </div>
      </div>
    </div>

    <div class="col-2 container">
      <app-match-schedule class="invisible" v-in-viewport.once="{margin: '-30px'}"></app-match-schedule>
      <app-standings></app-standings>
    </div>

    <app-latest-news></app-latest-news>
    <app-about-block class="invisible" v-in-viewport.once="{margin: '-50px'}"></app-about-block>

    <app-slider-default
      :swiperOptions="swiperPlayers"
      class="invisible"
      v-in-viewport.once="{margin: '-30px'}"
    >
      <swiper-slide v-for="item in players" :key="item.id">
        <app-players-card :item="item"></app-players-card>
      </swiper-slide>
    </app-slider-default>
  </div>
</template>
<script>
import Slick from "vue-slick";
import { swiper, swiperSlide } from "vue-awesome-swiper";

import News from "@/components/shared/News";
import Match_schedule from "@/components/Match_schedule";
import Standings from "@/components/Standings";
import Latest_news from "@/components/shared/Latest_news";
import AboutBlock from "@/components/About";
import Slider_default from "@/components/shared/Slider_default";
import PlayersCard from "@/components/shared/Players-card";

const url = "https://backend.football.1pls1.com/api";

export default {
  name: "home",
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        rtl: true,
        dots: true,
        arrows: false,
        speed: 1500,
        easing: "cubic-bezier(.6,0,.22,1)"
      },
      swiperPlayers: {
        title: {
          nextEl: "next",
          prevEl: "prev",
          pagination: "player-slider",
          title: "players"
        },
        option: {
          speed: 800,
          slidesPerView: 3,
          spaceBetween: 30,
          direction: "horizontal",
          //loop: true,
          dynamicBullets: true,
          arrows: false,
          pagination: {
            el: ".swiper-pagination.player-slider",
            dynamicBullets: true,
            dynamicMainBullets: 3,
            clickable: true
          },
          navigation: {
            nextEl: ".next",
            prevEl: ".prev"
          },
          breakpoints: {
            1024: {
              slidesPerView: 3,
              spaceBetween: 20
            },
            768: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            640: {
              slidesPerView: 1,
              spaceBetween: 15
            }
          }
        }
      },
      slideInfo: [
        {
          id: 1,
          img: "img/main-slide-1.png",
          title: "bridgeport United fc"
        },
        {
          id: 2,
          img: "img/main-slide-2.png",
          title: "bridgeport United fc"
        },
        {
          id: 3,
          img: "img/main-slide-1.png",
          title: "bridgeport United fc"
        },
        {
          id: 4,
          img: "img/main-slide-2.png",
          title: "bridgeport United fc"
        }
      ]
    };
  },
  computed: {
    players() {
      return this.$store.getters.players;
    },
    news() {
      var news = this.$store.getters.mainNews.slice(0, 2);
      return news;
    }
  },
  methods: {
    mainNews() {
      this.$http
        .get(url + "/articles", {
          params: { isMain: true },
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("main-news:", response.data);
            const payload = response.data;
            return this.$store.dispatch("mainNews", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    setPlayers() {
      this.$http
        .get(url + "/participants", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("players:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setPlayers", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    setTeams() {
      this.$http
        .get(url + "/teams", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("teams:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setTeams", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    setMatch() {
      this.$http
        .get(url + "/matches", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("matches:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setMatch", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    aboutPage() {
      this.$http
        .get(url + "/about_pages", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("about-page:", response.data);
            const payload = response.data;
            return this.$store.dispatch("aboutPage", payload);
          },
          error => {
            console.log(error);
          }
        );
    }
  },
  mounted() {
    this.setPlayers();
    this.mainNews();
    this.aboutPage();
    this.setMatch();
    this.setTeams();
  },
  components: {
    Slick,
    swiper,
    swiperSlide,
    "app-match-schedule": Match_schedule,
    "app-standings": Standings,
    "app-about-block": AboutBlock,
    "app-slider-default": Slider_default,
    "app-players-card": PlayersCard,
    "app-latest-news": Latest_news,
    "app-news": News
  }
};
</script>
<style lang="scss" scoped>
$orange: #fbbb00;
.slider-overlay {
  padding-left: calc((100vw - 117rem) / 2);
  height: 100%;
  @media only screen and (max-width: 1199px) {
    padding-left: 0;
  }
  @media only screen and (max-width: 992px) {
  }
}
.hero {
  position: relative;
  height: calc(100vh - 8rem);
  min-height: 50rem;
  overflow: hidden;
  @media only screen and (max-width: 992px) {
    max-height: 60rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    height: 100%;
    margin: 0 auto 0 0;
    padding-top: 23rem;
    @media only screen and (max-width: 1399px) {
      padding-top: 12rem;
    }
    @media only screen and (max-width: 1199px) {
      margin: 0 auto;
    }
    @media only screen and (max-width: 992px) {
      padding-top: 7rem;
    }
    @media only screen and (max-width: 768px) {
      padding-top: 15rem;
    }
    div {
      padding-left: 6.5rem;
      padding-right: 5rem;
      position: relative;
      //overflow: hidden;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 3px;
        height: 100%;
        background: $orange;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: 3;
        opacity: 0;
        transition: all 0.01s ease-out 0.8s;
      }
      @media only screen and (max-width: 992px) {
        padding-left: 3rem;
      }
      @media only screen and (max-width: 499px) {
        padding-left: 2rem;
      }
    }
    & > * {
      position: relative;
      z-index: 2;
    }
    &:after {
      position: absolute;
      top: 23rem;
      left: 0;
      content: "";
      width: 3px;
      height: 100%;
      transform: translateY(100%);
      background: $orange;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      z-index: 1;
      @media only screen and (max-width: 1399px) {
        top: 12rem;
      }
      @media only screen and (max-width: 992px) {
        top: 7rem;
      }
      @media only screen and (max-width: 768px) {
        top: 15rem;
      }
    }
    h2 {
      position: relative;
      text-align: left;
    }
  }
}
.hero {
  .main-news {
    width: 51%;
    max-width: 100rem;
    position: absolute;
    right: 7.5rem;
    bottom: 12.5%;
    z-index: 5;
    @media only screen and (max-width: 1599px) {
      width: 54%;
    }
    @media only screen and (max-width: 1199px) {
      right: 5%;
      width: 70%;
    }
    @media only screen and (max-width: 992px) {
      right: calc((100% - 78rem) / 2);
      width: 50%;
      max-width: 44rem;
    }
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
.hero.invisible {
  transform: translateY(0);
  opacity: 1;
  .content div h2 {
    transform: translate(100vw, 0);
    transition: all 1.5s cubic-bezier(0.2, 0.64, 0.28, 1) 0.5s;
  }
  &.in-viewport {
    .content div h2 {
      transform: translate(0, 0);
    }
    .content:after {
      animation: br-line 1s cubic-bezier(1, -0.07, 0.96, 0.91) forwards 0.5s;
    }
    .content div:before {
      opacity: 1;
    }
  }
}
@keyframes br-line {
  0% {
    height: 100%;
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
    height: 100%;
  }
  100% {
    transform: translateY(0);
    height: 0;
  }
}
</style>