<template>
  <div>
    <app-latest-news :className="className"></app-latest-news>
    <div class="news-created-list container">
      <div class="news-box">
        <app-news
          class="invisible"
          v-in-viewport.once
          v-for="(item, index) in newsExtend"
          :key="index"
          :item="item"
        ></app-news>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import Latest_news from "@/components/shared/Latest_news";
import News from "@/components/shared/News";

const url = "https://backend.football.1pls1.com/api";

export default {
  data() {
    return {
      //news: [],
      className: "news-page"
    };
  },
  computed: {
    /*newsExtend() {
      var extendedNews = JSON.parse(JSON.stringify(this.$store.getters.news));
      let count = 0,
        num;
      extendedNews.forEach((el, index) => {
        if (el.images.length >= 3) {
          count++;
          if (count < 2) {
            el.class = "extended";
            num = index;
          } else el.class = "";
        }
      });
      this.swap(extendedNews, num, 3);
      return extendedNews;
    }*/
    newsExtend() {
      return this.$store.getters.news;
    }
  },
  methods: {
    setNews() {
      this.$http
        .get(url + "/articles", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("news:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setNews", payload);
          },
          error => {
            console.log(error);
          }
        );
    }
    /*newsSet() {
      this.news = this.$store.getters.news;
    },*/
    /*swap(arr, a, b) {
      arr[a] = arr.splice(b, 1, arr[a])[0];
    }*/

    /*displayNews() {
      const newNews = [];
      for (var i = 0; i < this.news.length; i += 8) {
        newNews.push(this.news.slice(i, i + 8));
      }
      newNews.forEach(array => {
        let count = 0,
          removed;
        array.forEach((item, index) => {
          if (item.images.length > 1) {
            count++;
            if (count < 2) {
              removed = array.splice(index, 1);
              array.forEach((item, index) => {
                if (index === 3) {
                  array.splice(index, 0, removed[0]);
                }
              });
            }
          }
        });
        const box = document.createElement("div");
        box.classList.add("news-box");
        array.forEach((item, index) => {
          const newsBlock = Vue.extend(News);
          var component = new newsBlock({
            propsData: {
              item
            }
          }).$mount();

          if (index === 3 && item.images.length > 1) {
            const extendedNewsBlock = Vue.extend(News);
            var componentExtended = new newsBlock({
              propsData: {
                item,
                classVal: "extended"
              }
            }).$mount();
            //box.insertAdjacentHTML("beforeend", extendedNewsBlock);
            box.appendChild(componentExtended.$el);
          } else {
            box.appendChild(component.$el);
            //box.insertAdjacentHTML("beforeend", newsBlock);
          }
        });
        document.querySelector(".news-created-list").appendChild(box);
      });
    }*/
  },
  mounted() {
    this.setNews();
    //this.newsSet();
    //this.displayNews();
  },
  components: {
    "app-latest-news": Latest_news,
    "app-news": News
  }
};
</script>
<style lang="scss" scoped>
.container {
  padding: 10rem 0 5rem;
  @media only screen and (max-width: 768px) {
    padding: 5rem 0;
  }
}
.news.invisible {
  transform: translateY(50px);
  opacity: 0;
  &.in-viewport {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out 1.5s;
  }
}
</style>