<template>
  <div>
    <app-slider-default :swiperOptions="swiperTest">
      <swiper-slide v-for="item in news" :key="item.id">
        <app-news :item="item"></app-news>
      </swiper-slide>
    </app-slider-default>
  </div>
</template>
<script>
import { swiper, swiperSlide } from "vue-awesome-swiper";
import Slider_default from "@/components/shared/Slider_default";
import News from "@/components/shared/News";
export default {
  data() {
    return {
      swiperTest: {
        title: {
          nextEl: "news-recommended-next",
          prevEl: "news-recommended-prev",
          pagination: "news-recommended-slider",
          title: "recommended news"
        },
        option: {
          speed: 800,
          slidesPerView: 5,
          spaceBetween: 30,
          slideActiveClass: "active-slide",
          //loop: true,
          pagination: {
            el: ".news-recommended-slider",
            clickable: true
          },
          navigation: {
            nextEl: ".news-recommended-next",
            prevEl: ".news-recommende-prev"
          },
          breakpoints: {
            1024: {
              slidesPerView: 3,
              spaceBetween: 20
            },
            992: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            640: {
              slidesPerView: 1,
              spaceBetween: 0
            }
          }
        }
      }
    };
  },
  computed: {
    news() {
      return this.$store.getters.news;
    }
  },
  components: {
    swiper,
    swiperSlide,
    "app-news": News,
    "app-slider-default": Slider_default
  }
};
</script>