<template>
  <div class="container">
    <h4 class="title invisible right-left" v-in-viewport.once>News</h4>
    <div class="news-created-list invisible" v-in-viewport.once>
      <div class="news-box">
        <app-news v-for="(item, index) in newsExtend" :key="index" :item="item"></app-news>
      </div>
    </div>
  </div>
</template>
<script>
import News from "@/components/shared/News";

const url = "https://backend.football.1pls1.com/api";
export default {
  props: {
    name
  },
  computed: {
    newsExtend() {
      var news = this.$store.getters.news,
        newsMas = [];
      if (this.name === "photo") {
        news.filter(el => {
          if (el.videoLink === null) {
            newsMas.push(el);
          }
        });
      } else {
        news.filter(el => {
          if (el.videoLink !== null) {
            newsMas.push(el);
          }
        });
      }
      return newsMas;
    }
  },
  methods: {
    setNews() {
      this.$http
        .get(url + "/articles", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            console.log("news:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setNews", payload);
          },
          error => {
            console.log(error);
          }
        );
    }
  },
  mounted() {
    this.setNews();
  },
  components: {
    "app-news": News
  }
};
</script>
<style lang="scss" scoped>
.container {
  padding-top: 9.5rem;
  padding-bottom: 9rem;
  h4 {
    margin-bottom: 6.5rem;
  }
}
</style>