<template>
  <div>
    <div class="container">
      <div class="img">
        <img :src="imgSrc" />
      </div>
      <div class="info">
        <h1>
          <span>#</span>
          {{info.number}}
        </h1>
        <div class="full-info">
          <h3 class="part-title">{{info.name}} {{info.lastName}}</h3>
          <h5>{{info.participantPosition.name}}</h5>
          <div>
            <div>
              <h6>Date of birth</h6>
              <p>{{info.birthDate | moment("DD MMMM YYYY") }}</p>
            </div>
            <div>
              <h6>Weight</h6>
              <p>{{info.weight}} kg</p>
            </div>
            <div>
              <h6>Height</h6>
              <p>{{info.height}} cm</p>
            </div>
            <div>
              <h6>Joined club on</h6>
              <p>{{info.joinedAt | moment("DD MMMM YYYY")}}</p>
            </div>
            <div>
              <h6>Country</h6>
              <p>
                <span class="country-overlay">
                  <flag :iso="info.country.code" />
                </span>
                <span class="country">{{info.country.name}}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="season-result" v-if="this.info.participantStats.length != 0">
          <h6>{{seasonResults.season.period}} STATS</h6>
          <ul>
            <li>
              Games played
              <span>{{seasonResults.playedGames}}</span>
            </li>
            <li>
              Minutes played
              <span>{{seasonResults.playedMinutes}}</span>
            </li>
            <li>
              Goals
              <span>{{seasonResults.goals}}</span>
            </li>
            <li>
              Assists
              <span>{{seasonResults.assists}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="slider-overlay small-slider">
        <swiper
          :options="swiperOption"
          ref="mySwiper"
          @slidePrevTransitionStart="goPrev"
          @slideNextTransitionStart="goNext"
        >
          <swiper-slide
            v-for="(player, index) in players"
            :key="player.id"
            :player="player"
            @click.native="goTodetail(player.id)"
          >
            <div class="content">
              <img :src="player.imageUrl" />
              <div class="text">
                <h4>{{player.name}} {{player.lastName}} {{index}}</h4>
                <p>
                  <span>#{{player.number}}</span>
                  {{player.participantPosition.name}}
                </p>
              </div>
            </div>
          </swiper-slide>
        </swiper>
        <app-swiper-btn :name="swiperOption.title"></app-swiper-btn>
      </div>
      <div class="bio container-small">
        <h2>Biography</h2>
        <div v-html="this.bioMain"></div>
        <div v-html="this.showMoreBio" class="bio-overlay" :class="this.open ? 'open' : false"></div>
        <app-show-more :info="readMore" class="blue" :class="info.class" @click.native="openMore"></app-show-more>
      </div>
    </div>
  </div>
</template>
<script>
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import Swiper_button from "@/components/shared/Swiper_button";

import Show_more from "@/components/shared/Show_more";

import News from "@/components/shared/News";

const url = "https://backend.football.1pls1.com/api";

function parse(str) {
  let offset = 0,
    result = [];

  // Ищем очередной <div>
  while ((offset = str.indexOf("<p>", offset)) !== -1) {
    let closed;

    // Ищем ближайщий закрывающий тэг
    // Если его нет - кидаем ошибку
    if ((closed = str.indexOf("</p>", offset)) === -1)
      throw new Error("Unclosed tag!");

    closed += 6;

    // Вырезаем часть с результатом
    result.push(str.substring(offset, closed));
    // Меняем отступ для нового поиска
    offset = closed;
  }
  return result;
}

export default {
  name: "single-player",
  data() {
    return {
      id: this.$route.params.id,
      playersArr: [],
      info: {
        img: "",
        participantStats: [
          {
            assists: 0,
            goals: 0,
            playedGames: 0,
            playedMinutes: 0,
            season: {
              period: ""
            }
          }
        ],
        participantPosition: {
          name: ""
        },
        country: {
          code: "",
          name: ""
        }
      },
      bioMain: "",
      showMoreBio: "",
      seasonResults: {
        season: {
          period: ""
        }
      },
      readMore: {
        text: "Read MOre",
        class: "line-end"
      },
      open: false,
      swiperOption: {
        title: {
          nextEl: "player-preview-next blue",
          prevEl: "player-preview-prev blue",
          pagination: "player-slider",
          title: "players"
        },
        slidesPerView: 6,
        spaceBetween: 0,
        slideActiveClass: "active-slide",
        loop: true,
        watchActiveIndex: true,
        slideToClickedSlide: true,
        navigation: {
          nextEl: ".player-preview-next",
          prevEl: ".player-preview-prev"
        },
        breakpoints: {
          1199: {
            slidesPerView: 5
          },
          992: {
            slidesPerView: 4
          },
          768: {
            slidesPerView: 3
          },
          450: {
            slidesPerView: 2
          }
        }
      },
      swiperTest: {
        title: {
          nextEl: "player-recommended-next",
          prevEl: "player-recommended-prev",
          pagination: "player-recommended-slider",
          title: "recommended news"
        },
        option: {
          speed: 800,
          slidesPerView: 5,
          spaceBetween: 30,
          slideActiveClass: "active-slide",
          loop: true,
          pagination: {
            el: ".player-recommended-slider",
            clickable: true,
            dynamicBullets: true,
            dynamicMainBullets: 3,
            clickable: true
          },
          navigation: {
            nextEl: ".player-recommended-next",
            prevEl: ".player-recommended-prev"
          },
          breakpoints: {
            1199: {
              slidesPerView: 4,
              spaceBetween: 20
            },
            992: {
              slidesPerView: 3
            },
            768: {
              slidesPerView: 2
            },
            450: {
              slidesPerView: 1,
              spaceBetween: 15
            }
          }
        }
      }
    };
  },
  watch: {
    $route(to, from) {
      this.id = to.params.id;
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
    players() {
      return this.$store.getters.players;
    },
    news() {
      return this.$store.getters.news;
    },
    imgSrc() {
      return this.info.imageUrl;
    }
  },
  methods: {
    setPlayers() {
      this.$http
        .get(url + "/participants", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            const payload = response.data;
            this.$store.dispatch("setPlayers", payload);
            this.player();
          },
          error => {}
        );
    },
    setNews() {
      this.$http
        .get(url + "/articles", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            const payload = response.data;
            return this.$store.dispatch("setNews", payload);
          },
          error => {}
        );
    },
    player() {
      const playerId = this.$route.params.id;
      this.$store.getters.players.filter((el, index) => {
        if (el.id == playerId) {
          this.info = el;
        }
      });
    },
    goTodetail(playerId) {
      this.$router.push({
        name: "single-player",
        params: { id: playerId }
      });

      this.player();
    },
    goNext() {
      var arr = this.$store.getters.players;
      const playerId = +this.$route.params.id + 1;
      if (playerId <= arr.length) {
        this.$router.push({ name: "single-player", params: { id: playerId } });
        this.player();
      } else {
        this.$router.push({ name: "single-player", params: { id: 1 } });
        this.player();
      }
    },
    goPrev() {
      var arr = this.$store.getters.players;
      const playerId = +this.$route.params.id - 1;
      if (playerId == 0) {
        this.$router.push({
          name: "single-player",
          params: { id: arr.length }
        });
        this.player();
      } else {
        this.$router.push({ name: "single-player", params: { id: playerId } });
        this.player();
      }
    },
    htmlSplit() {
      var arr, start, finish;
      arr = parse(this.info.biography);
      start = arr.slice(0, 1).join("");
      finish = arr.slice(1).join("");

      this.bioMain = start;
      this.showMoreBio = finish;
    },
    seasonTable() {
      if (this.info.participantStats.length != 0) {
        var season = this.info.participantStats;
        season.slice(0, 1).map(el => {
          this.seasonResults = el;
        });
      }
    },
    openMore() {
      this.open = !this.open;
    }
  },

  mounted() {
    this.setPlayers();
    this.setNews();
    this.player();
    //this.htmlSplit();
    this.seasonTable();

    var swip = this.swiper,
      infoId = this.info.id;
    swip.slideToLoop(infoId - 1, 1000, false);
  },
  updated() {
    //this.player();
    //this.htmlSplit();
    //this.seasonTable();
  },
  components: {
    swiper,
    swiperSlide,
    "app-show-more": Show_more,
    "app-swiper-btn": Swiper_button,
    "app-news": News
  }
};
</script>
<style lang="scss" scoped>
.slider-overlay {
  position: relative;
  width: calc(100% - 8rem);
  border: 1px solid #f2f2f2;
  margin-bottom: 6rem;
  @media only screen and (max-width: 599px) {
    width: 100vw;
    padding-right: 7.5rem;
    .swiper-container {
      overflow: visible;
    }
  }
  @media only screen and (max-width: 599px) {
    padding-right: 4.5rem;
  }
  .slider-button {
    position: absolute;
    right: -8rem;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    @media only screen and (max-width: 599px) {
      display: none;
    }
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    border-right: 1px solid #f2f2f2;
    img {
      height: 5rem;
    }
    h4 {
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: 500;
      text-transform: capitalize;
      color: #5b5b5b;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      font-weight: 300;
      color: #a8a8a8;
      line-height: 1.2rem;
      span {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2rem;
        color: #5b5b5b;
      }
    }
  }
}
.small-slider {
  .swiper-slide {
    opacity: 0.5;
    position: relative;
    cursor: pointer;
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background: #fbbb00;
      content: "";
      transition: all 0.3s ease-in-out;
    }
    &.active-slide,
    &:hover {
      opacity: 1;
      &:after {
        width: 100%;
      }
    }
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 13rem;
  @media only screen and (max-width: 1199px) {
    padding-top: 6rem;
  }
  .img {
    width: 29%;
    margin-right: 6rem;
    @media only screen and (max-width: 1199px) {
      width: 30%;
      margin-right: 3rem;
    }
    @media only screen and (max-width: 599px) {
      width: 100%;
      margin: 0 0 4rem;
      img {
        margin: 0 auto;
        width: 30rem;
      }
    }
  }
  .info {
    width: calc(71% - 6rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5rem;
    @media only screen and (max-width: 1199px) {
      width: calc(70% - 3rem);
      padding-top: 2rem;
      margin-bottom: 3.5rem;
    }
    @media only screen and (max-width: 599px) {
      width: 100%;
    }
  }
  h1 {
    width: 100%;
    font-size: 8rem;
    font-weight: 700;
    line-height: 5.3rem;
    margin-bottom: 4rem;
    @media only screen and (max-width: 1499px) {
      font-size: 7rem;
      line-height: 5rem;
      margin-bottom: 3rem;
    }
    @media only screen and (max-width: 1199px) {
      font-size: 5.5rem;
      line-height: 4.5rem;
      margin-bottom: 1.5rem;
    }
    span {
      font-weight: 600;
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
.full-info {
  width: calc(65% - 10rem);
  @media only screen and (max-width: 1199px) {
    width: calc(70% - 3rem);
  }
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
  h3.part-title {
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #a8a8a8;
    text-transform: uppercase;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: calc((100% - 3rem) / 3);
      margin-top: 4rem;
      margin-right: 1.5rem;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @media only screen and (max-width: 1199px) {
        margin-top: 1.5rem;
      }
      @media only screen and (max-width: 599px) {
        width: calc((100% - 1.5rem) / 2);
        margin-right: 1.5rem;
        &:nth-child(3n) {
          margin-right: 1.5rem;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
    h6 {
      font-size: 1.2rem;
      font-weight: 300;
      color: #a8a8a8;
      margin-bottom: 0.7rem;
      text-transform: initial;
    }
    p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.6rem;
      font-weight: 700;
      span.country {
        display: inline-block;
        margin-left: 7px;
      }
    }
  }
}
.season-result {
  width: 35%;
  @media only screen and (max-width: 1199px) {
    width: 30%;
  }
  @media only screen and (max-width: 992px) {
    display: none;
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  ul {
    li {
      //padding: 1.5rem 0;
      font-size: 1.3rem;
      line-height: 4.5rem;
      border-bottom: 1px solid #e1e1e1;
      span {
        font-size: 1.4rem;
        line-height: 4.5rem;
        font-weight: 600;
        float: right;
      }
    }
  }
}
.bio {
  margin-bottom: 10rem;
  h2 {
    font-size: 2rem;
    line-height: 3rem;
    color: #363636;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  .bio-overlay {
    display: none;
    &.open {
      display: block;
    }
  }
}

.show-more {
  margin-top: 3.5rem;
}
</style>