<template>
  <div class="container">
    <div class="header invisible right-left" v-in-viewport.once>
      <h4 class="title">Players</h4>
      <ul>
        <li v-for="i in playersList" :key="i.title">
          <a
            href="#"
            v-scroll-to="{
                el: '#' + i.title, duration: 500,
                easing: 'ease-in-out',
                offset: -130,
            }"
          >{{i.title + 's'}}</a>
        </li>
      </ul>
    </div>
    <div class="content-list invisible right-left" v-in-viewport.once>
      <div v-for="i in playersList" :key="i.title" :id="i.title">
        <h6>{{i.title + 's'}}</h6>
        <div>
          <app-player
            v-for="item in i.players"
            :i="i.title"
            :item="item"
            :key="item.id"
            class="small"
          ></app-player>
        </div>
      </div>
    </div>
  </div>
</template> 
<script>
import PlayerCard from "@/components/shared/Players-card";
const url = "https://backend.football.1pls1.com/api";
export default {
  data() {
    return {
      playersList: [
        { title: "Goalkeeper", players: [] },
        { title: "Defender", players: [] },
        { title: "Midfielder", players: [] },
        { title: "Forward", players: [] }
      ]
    };
  },
  methods: {
    setPlayers() {
      this.$http
        .get(url + "/participants", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("players:", response.data);
            const payload = response.data;
            this.$store.dispatch("setPlayers", payload);
            this.players();
          },
          error => {
            console.log(error);
          }
        );
    },
    players() {
      var players = this.$store.getters.players;
      this.playersList.forEach(el => {
        players.forEach(player => {
          if (player.participantPosition.name == el.title) {
            el.players.push(player);
          }
        });
      });

      /*return this.$store.getters.players.filter(player => {
        if (player.position === i) {
          this.playersList = player;
          return player;
        }
      });*/ //если передавать позицию
    }
  },
  mounted() {
    this.setPlayers();
  },
  components: {
    "app-player": PlayerCard
  }
};
</script>

<style lang="scss" scoped>
.container {
  padding-top: 9.5rem;
  @media only screen and (max-width: 650px) {
    padding-top: 3rem;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media only screen and (max-width: 650px) {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 100vw;
      margin-right: -1.5rem;
      padding: 1.5rem;
      padding-left: 0;
      margin-top: 3rem;
      overflow-x: scroll;
    }
    li {
      margin-left: 1.5rem;
      &:first-of-type {
        @media only screen and (max-width: 650px) {
          margin-left: 0;
        }
      }
    }
    li a {
      font-size: 1.4rem;
      line-height: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #a8a8a8;
      position: relative;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 650px) {
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      &:after {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 0;
        height: 2px;
        border-radius: 1px;
        background: #fbbb00;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        color: #363636;
        &:after {
          width: 105%;
        }
      }
    }
  }
}
h3 {
  margin-bottom: 0;
}
.content-list {
  div {
    margin-bottom: 5.5rem;
    @media only screen and (max-width: 650px) {
      margin-bottom: 5rem;
    }
    h6 {
      font-size: 2rem;
      text-transform: capitalize;
      margin-bottom: 5rem;
    }
    & > div {
      display: flex;
      flex-wrap: wrap;
      & > div {
        width: calc((100% - 6rem) / 3);
        //height: 37rem;
        padding-top: 14%;
        margin-right: 3rem;
        margin-bottom: 5rem;
        &:nth-child(3n) {
          margin-right: 0;
        }
        @media only screen and (max-width: 992px) {
          width: calc((100% - 3rem) / 2);
          padding-top: 20%;
          &:nth-child(3n) {
            margin-right: 3rem;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        @media only screen and (max-width: 650px) {
          width: 100%;
          margin-right: 0;
          padding-top: 25%;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
        @media only screen and (max-width: 399px) {
          padding-top: 30%;
        }
      }
    }
  }
  &.invisible.right-left {
    transform: translate(0, 0);
    opacity: 1;
    & > div {
      transform: translate(100vw, 0);
      transition: all 0.5s ease-in-out;
    }
    &.in-viewport {
      @for $i from 0 through 10 {
        & > div:nth-child(#{$i}) {
          transform: translate(0, 0);
          transition-delay: 0.4s * $i;
        }
      }
    }
  }
}
</style>