<template>
  <div class="container">
    <template v-if="this.name == 'privacy-policy'">
      <h4 class="title invisible right-left" v-in-viewport.once>{{info.privacyPolicy.title}}</h4>
      <div class="invisible" v-in-viewport.once>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ipsum doloremque itaque consectetur praesentium assumenda, sint laborum nostrum, id a culpa cupiditate quas expedita in, reiciendis quae consequuntur velit quidem eveniet blanditiis! Maxime laborum dolor distinctio omnis quisquam sit fuga facilis odio repellendus magnam expedita quidem, quod tempora praesentium quos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ipsum doloremque itaque consectetur praesentium assumenda, sint laborum nostrum, id a culpa cupiditate quas expedita in, reiciendis quae consequuntur velit quidem eveniet blanditiis! Maxime laborum dolor distinctio omnis quisquam sit fuga facilis odio repellendus magnam expedita quidem, quod tempora praesentium quos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ipsum doloremque itaque consectetur praesentium assumenda, sint laborum nostrum, id a culpa cupiditate quas expedita in, reiciendis quae consequuntur velit quidem eveniet blanditiis! Maxime laborum dolor distinctio omnis quisquam sit fuga facilis odio repellendus magnam expedita quidem, quod tempora praesentium quos?</p>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>HI texts</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
    </template>
    <template v-if="this.name == 'legal-terms'">
      <h4 class="title invisible right-left" v-in-viewport.once>{{info.legalTerms.title}}</h4>
      <div class="invisible" v-in-viewport.once>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ipsum doloremque itaque consectetur praesentium assumenda, sint laborum nostrum, id a culpa cupiditate quas expedita in, reiciendis quae consequuntur velit quidem eveniet blanditiis! Maxime laborum dolor distinctio omnis quisquam sit fuga facilis odio repellendus magnam expedita quidem, quod tempora praesentium quos?</p>
      </div>
    </template>
  </div>
</template>
<script>
export default {
  props: {
    name
  },
  data() {
    return {
      info: {
        privacyPolicy: {
          title: "Privacy Policy"
        },
        legalTerms: {
          title: "Legal Terms"
        }
      }
    };
  }
};
</script>
<style lang="scss" scoped>
.container {
  padding: 9.5rem 0;
  p {
    margin-bottom: 1rem;
    font-weight: 400;
  }
  a {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
  ul {
    margin-top: 2rem;
    li {
      line-height: 1.6rem;
      line-height: 1;
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;
      position: relative;
      &:last-of-type {
        margin-bottom: 2rem;
      }
      &:before {
        position: absolute;
        top: 0.5rem;
        left: 0;
        content: "";
        border-radius: 50%;
        background: $orange;
      }
    }
  }
  div.invisible {
    transform: none;
    opacity: 1;
    * {
      transform: translateX(100vw);
      transition: all 1s cubic-bezier(0, 0.99, 0.73, 1.01);
    }
    &.in-viewport {
      h4 {
        transition-delay: 1s;
      }
      @for $i from 0 through 50 {
        *:nth-child(#{$i}) {
          transform: translate(0, 0);
          transition-delay: 1s + 0.2s * $i;
        }
      }
    }
  }
}
</style>