<template>
  <div class="container">
    <h4 class="title invisible right-left" v-in-viewport.once>Match Schedule</h4>
    <ul class="invisible right-left" v-in-viewport.once>
      <li v-for="(i, index) in createMonthArr" :key="i.index">
        <a href="#" class="anchor" :data-link="i.month">
          <span class="year">{{i.year}}</span>
          <span>{{i.month}}</span>
        </a>
      </li>
    </ul>
    <div class="accordions invisible right-left" v-in-viewport.once>
      <div class="content Accordion" v-for="(i, index) in createMonthArr" :key="i.index">
        <app-accordion :item="i" :id="i.month" :data-block="i.month">
          <div
            v-for="item in matches(i.month)"
            :key="item.id"
            class="match"
            @click="goTodetail(item)"
          >
            <p>{{item.tempTitle}}</p>
            <div class="championship">
              <img :src="item.league.logoUrl" v-if="item.league" />
              <p>
                <span class="date">{{item.eventDate | moment("DD.MM.YY")}}</span>
                <span v-if="item.league">{{item.league.name}}</span>
              </p>
            </div>
            <div class="table">
              <div>
                <h6>{{item.firstTeam.name}}</h6>
                <div
                  class="team-pic"
                  :style="{ backgroundImage: 'url(' + item.firstTeam.logoUrl + ')' }"
                ></div>
              </div>
              <div class="score">
                <p>{{item.firstTeamScore}}</p>
                <span>:</span>
                <p>{{item.secondTeamScore}}</p>
              </div>
              <div>
                <div
                  class="team-pic"
                  :style="{ backgroundImage: 'url(' + item.secondTeam.logoUrl + ')' }"
                ></div>
                <h6>{{item.secondTeam.name}}</h6>
              </div>
            </div>
            <div class="video-link" v-if="item.video != null">
              <a href="#" class="btn btn_icon video-pop-up">
                <span class="text">
                  <svg
                    width="13"
                    height="15"
                    viewBox="0 0 13 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.0938 7.72096L0.930966 14.6411L0.930965 0.776661L12.0938 7.72096Z"
                      fill="white"
                    />
                  </svg>
                  play video review
                </span>
              </a>
            </div>
          </div>
          <div v-if="matches(i.month).length == 0">
            <h2>No games:(</h2>
          </div>
        </app-accordion>
      </div>
    </div>
  </div>
</template>
<script>
import { gsap, ScrollToPlugin } from "gsap/all";
gsap.registerPlugin(ScrollToPlugin);

import moment from "moment";

import Accordion from "@/components/shared/Accordion";

const url = "https://backend.football.1pls1.com/api";

export default {
  data() {
    return {
      active: false
    };
  },
  computed: {
    createMonthArr() {
      var date = new Date(),
        mas = [];

      var fullmonth = moment(date).format("MMMM"),
        month = moment(date).format("MMM"),
        year = moment(date).format("YYYY");

      var elementPush = { fullmonth: null, month: null, year: null };
      elementPush.fullmonth = fullmonth;
      elementPush.month = month;
      elementPush.year = year;

      mas.push(elementPush);

      for (var i = 0; i < 8; i++) {
        var newD = new Date();

        newD = new Date(newD.getFullYear(), newD.getMonth() - i, 0);

        var fullmonth = moment(newD).format("MMMM"),
          month = moment(newD).format("MMM"),
          year = moment(newD).format("YYYY");

        var elementPush = { fullmonth: null, month: null, year: null };
        elementPush.fullmonth = fullmonth;
        elementPush.month = month;
        elementPush.year = year;

        mas.push(elementPush);
      }
      return mas.reverse();
    }
  },
  methods: {
    setMatch() {
      this.$http
        .get(url + "/matches", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("matches:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setMatch", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    matches(i) {
      var arr = this.$store.getters.match;
      return arr.filter(elem => {
        var d = moment(elem.eventDate).format("MMM");
        if (d === i) {
          return elem;
        } else return false;
      });
    },
    addClass(event) {
      document.querySelectorAll(".anchor").forEach(el => {
        el.classList.remove("active");
      });
      event.target.parentElement.classList.add("active");
    },
    clickes() {
      document.querySelectorAll(".Expander").forEach(item => {
        var thisInitialHeight = item.querySelector(".Expander__body")
          .offsetHeight;

        var thisData = item.getAttribute("data-block");
        item.querySelector(".Expander__body").style.height = 0;

        document.querySelectorAll(".anchor").forEach(link => {
          link.addEventListener("click", e => {
            e.preventDefault();
            var thisOffset = item.offsetTop;
            var thisAttr = link.getAttribute("data-link");
            if (thisAttr == thisData) {
              document.querySelectorAll(".anchor").forEach(block => {
                block.classList.remove("active");
              });
              link.classList.add("active");
              document.querySelectorAll(".Expander").forEach(block => {
                block.querySelector(".Expander__body").style.height = 0 + "px";
                //console.log("all 0");
              });
              if (item.classList.contains("active")) {
                //console.log("all del");
                document.querySelectorAll(".Expander").forEach(block => {
                  block.classList.remove("active");
                });
              } else {
                document.querySelectorAll(".Expander").forEach(block => {
                  block.classList.remove("active");
                });
                item.classList.add("active");
                item.querySelector(".active .Expander__body").style.height =
                  thisInitialHeight + "px";
                //console.log("all del, this add");
              }
              var headerHeight = document.querySelector(".header").offsetHeight;
              gsap.to(window, {
                duration: 0.5,
                scrollTo: thisOffset - headerHeight - 20
              });
            }
          });
        });
        document.querySelectorAll(".Expander__trigger").forEach(link => {
          link.addEventListener("click", () => {
            var thisAttr = link.getAttribute("data-link");
            if (thisAttr == thisData) {
              document.querySelectorAll(".anchor").forEach(newBlock => {
                var linkAttr = newBlock.getAttribute("data-link");
                newBlock.classList.remove("active");
                if (thisData == linkAttr) {
                  //console.log(thisData + " " + linkAttr);
                  newBlock.classList.add("active");
                }
              });
              document.querySelectorAll(".Expander").forEach(block => {
                block.querySelector(".Expander__body").style.height = 0 + "px";
                //console.log("all 0");
              });
              if (item.classList.contains("active")) {
                //console.log("all del");
                document.querySelectorAll(".Expander").forEach(block => {
                  block.classList.remove("active");
                });
              } else {
                document.querySelectorAll(".Expander").forEach(block => {
                  block.classList.remove("active");
                });
                item.classList.add("active");
                item.querySelector(".active .Expander__body").style.height =
                  thisInitialHeight + "px";
                //console.log("all del, this add");
              }
              //gsap.to(window, { duration: 0.5, scrollTo: thisOffset - 100 });
            }
          });
        });
      });
    },
    sortDate(arr) {
      return arr.sort((a, b) => (a.eventDate > b.eventDate ? 1 : -1));
    },
    goTodetail(matchId) {
      this.$router.push({
        name: "schedule-result",
        params: { id: matchId.id }
      });
    }
  },
  mounted() {
    this.setMatch();
    this.clickes();
  },
  components: {
    "app-accordion": Accordion
  }
};
</script>
<style lang="scss" scoped>
.container {
  padding: 9rem 0 5rem;
  @media only screen and (max-width: 650px) {
    padding: 3rem 0 5rem;
  }
  h4 {
    margin-bottom: 6.5rem;
    @media only screen and (max-width: 768px) {
      margin-bottom: 4rem;
    }
  }
}
.Accordion {
  overflow: hidden;
}
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //flex-wrap: wrap;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-bottom: 5rem;
  @media only screen and (max-width: 768px) {
    width: calc(100% + 15px);
    padding-right: 15px;
    overflow-y: scroll;
  }
  li {
    min-width: calc(100% / 9);
    background: #fff;
    text-align: center;
    border-left: 1px solid #f2f2f2;
    @media only screen and (max-width: 768px) {
      min-width: calc(100% / 5.5);
    }
    @media only screen and (max-width: 599px) {
      min-width: calc(100% / 2.5);
    }
    a {
      width: 100%;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 1.3rem 0 1.9rem;
      position: relative;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      span {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5rem;
        color: #a8a8a8;
        text-transform: uppercase;
        &.year {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
      &:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: #fdc65a;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        content: "";
        transition: all 0.3s ease-in-out;
      }
      &:hover,
      &.active {
        span {
          color: #363636;
        }
        &:after {
          width: 100%;
        }
      }
    }
    &:first-of-type {
      border: none;
    }
  }
}
h2 {
  color: #363636;
  text-align: center;
  max-width: 100%;
  font-size: 1.5rem;
}
.match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 1.8rem 2rem 2.1rem 3rem;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 13px 0px;
  }
  @media only screen and (max-width: 1199px) {
    padding: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 3rem 1.5rem;
  }
  &:last-of-type {
    border: none;
  }
}
.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64%;
  @media only screen and (max-width: 992px) {
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
  & > div {
    &:first-of-type {
      width: calc((100% - 13rem) / 2);
      justify-content: flex-end;
    }
    &:last-of-type {
      width: calc((100% - 13rem) / 2);
      justify-content: flex-start;
    }
  }
  img,
  .team-pic {
    height: 5rem;
    width: auto;
    min-width: 5rem;
    margin: 0 2rem;
    @media only screen and (max-width: 1199px) {
      margin: 0 1rem;
    }
    @media only screen and (max-width: 992px) {
      height: 4rem;
    }
    @media only screen and (max-width: 599px) {
      margin-bottom: 1.5rem;
      height: 5rem;
    }
  }
  .team-pic {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  h6 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    @media only screen and (max-width: 992px) {
      //font-size: 1.4rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
    @media only screen and (max-width: 599px) {
      text-align: center;
    }
  }
  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &:first-of-type {
      h6 {
        text-align: right;
        @media only screen and (max-width: 599px) {
          text-align: center;
        }
      }
    }
    @media only screen and (max-width: 599px) {
      flex-direction: column-reverse;
      &:last-of-type {
        flex-direction: column;
      }
    }
    &.score {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @media only screen and (max-width: 599px) {
        flex-direction: row;
        margin: 0 2rem;
      }
      p {
        min-width: 3.5rem;
        @media only screen and (max-width: 992px) {
          min-width: 3rem;
        }
        @media only screen and (max-width: 599px) {
          min-width: 2.5rem;
        }
        &:first-of-type {
          text-align: right;
        }
        &:last-of-type {
          text-align: left;
        }
      }
      span {
        display: inline-block;
        margin: 0 1rem;
      }
      p,
      span {
        font-size: 2.6rem;
        font-weight: 700;
        @media only screen and (max-width: 992px) {
          font-size: 1.9rem;
        }
      }
    }
  }
}
.championship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //margin-right: 8.5rem;
  min-width: 14.6%;
  @media only screen and (max-width: 992px) {
    min-width: 18%;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
  img {
    width: 3.5rem;
    height: 100%;
    margin-right: 1.8rem;
  }
  p {
    span {
      display: block;
      font-size: 1.3rem;
      line-height: 2rem;
      color: #747474;
      font-weight: 400;
      &.date {
        font-weight: 500;
        line-height: initial;
        color: #363636;
      }
    }
  }
}
.video-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 21.4%;
  margin: 0 0 0 auto;
  //margin: 0 0 0 5rem;
  @media only screen and (max-width: 992px) {
    .btn {
      font-size: 1.2rem;
      padding: 0 1.2rem;
    }
  }
  @media only screen and (max-width: 768px) {
    margin: 2rem auto 0;
  }
}

.invisible {
  &.right-left {
    transform: translate(100vw, 0);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0, 0.99, 0.73, 1.01);
    &.accordions {
      transform: translate(0, 0);
      opacity: 1;
      .Accordion {
        transform: translate(100vw, 0);
        transition: all 1.2s ease-in-out;
      }
    }
  }
  &.in-viewport {
    transform: translate(0, 0);
    &.title {
      transition-delay: 0.2s;
      & + ul {
        transition-delay: 0.5s;
      }
    }
    &.accordions {
      @for $i from 0 through 9 {
        .Accordion:nth-child(#{$i}) {
          opacity: 1;
          transform: translate(0, 0);
          transition-delay: 0.3s + 0.1s * $i;
        }
      }
    }
    &.table-description {
      transition-delay: 1.5s;
    }
  }
}
</style>


        