<template>
  <div>
    <div
      class="hero invisible"
      v-in-viewport.once
      :style="{ backgroundImage: 'url(' + require(`@/assets/` +  item) + ')' }"
    >
      <div class="container bg-line"></div>
      <div class="container">
        <app-match :item="match" class="white invisible" v-in-viewport.once></app-match>
        <div class="timeline">
          <div class="bg-count">
            <div v-for="(i, index) in arr" :key="index">
              <span>{{i}}</span>
            </div>
          </div>
          <div>
            <div
              class="moment"
              :class="item.icon"
              v-for="(item, index) in info.moments"
              :key="index"
              style="color:red;"
              :style="{left: item.time + '%'}"
            >
              <span class="score" :class="item.icon">{{item.score}}</span>
              <span class="circle" v-if="!item.icon === false"></span>
              <span class="icon" :class="item.icon"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h4 class="title invisible" v-in-viewport.once>MATCH TIMELINE</h4>
      <div class="Expander-overlay">
        <div
          class="Expander invisible"
          v-in-viewport.once
          v-for="(moment, index) in info.moments"
          :key="index"
        >
          <div class="Expander__trigger">
            <span v-if="moment.time === 'FT'">{{moment.time}}</span>
            <span v-else>{{moment.time}}'</span>

            <h6>{{moment.event}}!</h6>
          </div>
          <div class="Expander__body">
            <p>{{moment.comment}}</p>
            <img :src="require(`@/assets/` +  moment.img)" v-if="!moment.img === false" />

            <h5 v-if="!moment.number === false">
              <span class="icon" :class="moment.icon"></span>
              <span class="number">#{{moment.number}}</span>
              <span>{{moment.playerName}}</span>
              {{moment.playerSecondName}}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Match_card from "../components/Match_card";
export default {
  name: "match-result",
  data() {
    return {
      arr: ["0", "15", "30", "45", "60", "75", "90"],
      id: this.$route.params.id,
      info: {},
      item: "img/main-slide-1.png"
    };
  },
  watch: {
    $route(to, from) {
      this.id = to.params.id;
    }
  },
  computed: {
    match() {
      const matchId = this.$route.params.id;
      var infoThis;
      this.$store.getters.match.filter(el => {
        if (el.id == matchId) {
          infoThis = el;
          return infoThis;
        }
      });
      return infoThis;
    }
  },
  methods: {
    matchInfo() {
      const matchId = this.$route.params.id;
      this.$store.getters.match.filter(el => {
        if (el.id == matchId) {
          return (this.info = el);
        }
      });
    }
    /*momentsReverse() {
      this.info.moments = this.info.moments.reverse();
    }*/
  },
  mounted() {
    this.matchInfo();
    //this.momentsReverse(); //если данные приходят с начала матча
  },
  components: {
    "app-match": Match_card
  }
};
</script>
<style lang="scss" scoped>
.hero {
  position: relative;
  min-height: calc(100vh - 8rem);
  height: auto;
  max-height: 80rem;
  background-size: cover;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem 0;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(
      271.22deg,
      #0a0736 0.31%,
      rgba(30, 27, 68, 0.864583) 40.1%,
      rgba(32, 29, 74, 0.69708) 81.44%,
      rgba(33, 30, 81, 0.507924) 99.52%,
      rgba(38, 34, 98, 0.15) 99.53%
    );
    z-index: 1;
  }
  @media only screen and (max-width: 992px) {
    max-height: 60rem;
  }
  @media only screen and (max-width: 599px) {
    min-height: 0;
  }
  .container {
    height: 100%;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &.bg-line {
      display: block;
      position: absolute;
    }
  }
  & + .container {
    padding: 8rem 0 9.5rem;
    @media only screen and (max-width: 768px) {
      padding: 4rem 0;
    }
  }
}
h4.title {
  margin-bottom: 5.5rem;
  @media only screen and (max-width: 599px) {
    margin-bottom: 3.5rem;
  }
}
.Expander-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.Expander {
  margin-bottom: 3rem;
  position: relative;
  &:after,
  &:before {
    position: absolute;
    left: 3rem;
    width: 4px;
    height: 3rem;
    content: "";
    background-color: #e4e7f0;
  }
  &::before {
    top: -3rem;
  }
  &:after {
    bottom: -3rem;
  }
  &:last-of-type {
    &:before {
      display: none;
    }
  }
  &__trigger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.6rem 3rem;
    background: #eff1f8;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    @media only screen and (max-width: 1199px) {
      padding: 1rem 1.5rem;
    }
    span {
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      background-color: #15224e;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 3.5rem;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      margin-right: 2rem;
    }
    h6 {
      font-size: 2rem;
      line-height: 1.7rem;
      text-transform: capitalize;
      margin-right: 1.5rem;
      @media only screen and (max-width: 599px) {
        font-size: 1.8rem;
      }
    }
  }
  &__body {
    padding: 2.5rem 3rem 3rem;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background: #fff; //#dee2e6 //#f1f1f1
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #f2f2f2;
    border-top: none;
    @media only screen and (max-width: 599px) {
      padding: 1.5rem;
    }
    img {
      width: 60rem;
      height: auto;
    }
    p {
      margin-bottom: 1.5rem;
    }
    h5 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.8rem;
      line-height: 2.5rem;
      font-weight: 500;
      span {
        font-weight: 400;
        margin-right: 0.4rem;
        &.number {
          font-weight: 600;
          margin-right: 0.5rem;
        }
      }
      span.icon {
        margin: 0.25rem 0;
        margin-right: 1.5rem;
      }
    }
  }
}
span {
  &.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &.goal {
      background-image: url(../assets/img/goal.svg);
    }
    &.injury {
      background-image: url(../assets/img/injury.svg);
    }
    &.card {
      width: 1.4rem;
      border-radius: 1px;
      &.yellow {
        background-color: #fbbb00;
      }
      &.red {
        background-color: #f14747;
      }
    }
  }
}
.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //position: absolute;
  //bottom: 11rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  @media only screen and (max-width: 992px) {
    padding: 7rem 0 5rem;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
  width: 100%;
  .bg-count {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    height: 2px;
    background-color: #fbbb00;
    &:after,
    &:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      height: 16px;
      background-color: #fbbb00;
      z-index: 2;
    }
    &:before {
      left: 1px;
    }
    &:after {
      right: 0;
    }
    div {
      position: relative;
      height: 2px;
      width: 1px;
      margin-top: -7px;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 1px;
        height: 16px;
        background: #ce9a00;
      }
    }
    span {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.5rem;
      line-height: 2rem;
    }
    & + div {
      position: absolute;
      width: 111%;
    }
  }
  .moment {
    position: absolute;
    top: 50%;
    transform: translate(-46%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &.goal {
      .circle {
        &:after {
          position: absolute;
          content: "";
          width: 3.2rem;
          height: 3.2rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .circle {
      position: relative;
      width: 1.2rem;
      height: 1.2rem;
      background-color: #fff;
      border-radius: 50%;
      margin: 2.2rem 0;
    }
    .score {
      font-size: 0;
      line-height: 2rem;
      font-weight: 700;
      height: 2rem;
      text-align: center;
      color: #fff;
      letter-spacing: 3px;
      padding: 0 2px 0 3px;
      &.goal {
        font-size: 1.8rem;
      }
    }
    span.icon.goal {
      -webkit-filter: contrast(200%) invert(1);
      filter: contrast(200%) invert(1);
    }
  }
}

.invisible.Expander {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.5s ease-in-out;
  &.in-viewport {
    @for $i from 0 through 100 {
      &:nth-child(#{$i}) {
        opacity: 1;
        transform: translate(0, 0);
        transition-delay: 0.1s * $i;
      }
    }
  }
}
.hero.invisible {
  transform: translateY(0);
  opacity: 1;
  .timeline {
    opacity: 0;
    transform: translate(0, 20px);
  }
  &.in-viewport {
    .timeline {
      animation: 0.5s ease-in-out 1s forwards up;
    }
  }
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
</style>