<template>
  <div class="template-page">
    <div class="intro" :style="{ backgroundImage: 'url(' + mainImage + ')' }">
      <div class="bg-line container"></div>
      <div
        class="container container-small content content-image invisible"
        v-in-viewport.once
        :style="{ backgroundImage: 'url(' + mainImage + ')' }"
      >
        <div>
          <div class="container-small">
            <h4 class="part-title white part-title-small">{{info.title}}</h4>
            <app-tags class="white"></app-tags>
          </div>
        </div>
        <app-btn-back :backInfo="backInfo"></app-btn-back>
      </div>
    </div>
    <div class="page-content container">
      <app-sticky-sidebar :backInfo="backInfo"></app-sticky-sidebar>
      <div class="container-small">
        <div class="about invisible" v-in-viewport.once>
          <div class="date-title">
            <h5>{{info.createdAt | moment("dddd DD MMM YYYY") }}</h5>
            <app-share></app-share>
          </div>
          <div v-html="info.content"></div>
        </div>
        <div class="info">
          <app-tags></app-tags>
          <app-share></app-share>
        </div>
      </div>
    </div>
    <app-slider-default :swiperOptions="swiperPlayers">
      <swiper-slide v-for="item in recommendedNews" :key="item.id">
        <app-news :item="item"></app-news>
      </swiper-slide>
    </app-slider-default>
  </div>
</template>
<script>
import Share from "@/components/shared/Share";
import Tags from "@/components/shared/Tags";
import Slider_default from "@/components/shared/Slider_default";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import News from "@/components/shared/News";
import BackBtn from "../components/shared/Back-btn";
import StickySidebar from "../components/shared/Sticky-sidebar";

const url = "https://backend.football.1pls1.com/api";

export default {
  name: "single-news",
  data() {
    return {
      id: this.$route.params.id,
      backInfo: {
        name: "back to news",
        path: "/news"
      },
      info: {},
      swiperPlayers: {
        title: {
          nextEl: "recommended-next",
          prevEl: "recommended-prev",
          pagination: "recommended-slider",
          title: "RECOMMENDED NEWS "
        },
        option: {
          speed: 800,
          slidesPerView: 5,
          spaceBetween: 30,
          slideActiveClass: "active-slide",
          //loop: true,
          pagination: {
            el: ".recommended-slider",
            dynamicBullets: true,
            dynamicMainBullets: 3,
            clickable: true
          },
          navigation: {
            nextEl: ".recommended-next",
            prevEl: ".recommended-prev"
          },
          breakpoints: {
            1024: {
              slidesPerView: 3,
              spaceBetween: 20
            },
            992: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            640: {
              slidesPerView: 1,
              spaceBetween: 15
            }
          }
        }
      }
    };
  },
  computed: {
    recommendedNews() {
      return this.$store.getters.news;
    },
    mainImage() {
      var image;
      if (this.info.images) {
        var mas = this.info.images.length;
        this.info.images.forEach((element, index) => {
          if (index === 0) {
            image = element.imageUrl;
          }
        });
      }
      return image;
    }
  },
  watch: {
    $route(to, from) {
      this.id = to.params.id;
    }
  },
  methods: {
    navigateToHome() {
      this.$router.push("/news");
    },
    setNews() {
      this.$http
        .get(url + "/articles", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("news:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setNews", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    news() {
      const newsId = this.$route.params.id;
      this.$store.getters.news.filter(el => {
        if (el.id == newsId) {
          return (this.info = el);
        }
      });
    },
    videoOverlay() {
      document.querySelectorAll(".about p > img").forEach(element => {
        if (!element.classList.contains("video-done") && !element.alt == "") {
          element.classList.add("video-done");
          var cloneElement = element.cloneNode(true);
          var newDiv = document.createElement("div");
          var elemAlt = element.alt;
          newDiv.classList.add("photo-video");

          newDiv.innerHTML =
            "<div class='preview'><a href='javascript:void(0);' class='btn-wrapper'><span class='btn btn_play circle' aria-hidden='true'><span class='icon arrow'></span></span></a></div>";

          newDiv.appendChild(cloneElement);
          element.parentNode.insertBefore(newDiv, element);
          element.classList.add("video-done");
        }
      });
    },
    modalOpen(element) {
      var payload = {};
      payload.videoLink = element.toElement.closest(".preview").nextSibling.alt;
      payload.show = true;
      this.$store.commit("showModal", payload);
      const scrollY = document.documentElement.style.getPropertyValue(
        "--scroll-y"
      );
      const body = document.body;
      body.style.position = "fixed";
      body.style.top = `-${scrollY}`;
    }
  },
  mounted() {
    this.setNews();
    this.news();
    setTimeout(
      function() {
        var payload = {};
        document.querySelectorAll(".btn-wrapper").forEach(element => {
          element.addEventListener("click", this.modalOpen);
        });
      }.bind(this),
      1500
    );
  },
  updated() {
    //this.setNews();
    this.news();
    this.videoOverlay();
  },
  components: {
    swiper,
    swiperSlide,
    "app-share": Share,
    "app-tags": Tags,
    "app-slider-default": Slider_default,
    "app-news": News,
    "app-btn-back": BackBtn,
    "app-sticky-sidebar": StickySidebar
  }
};
</script>
<style lang="scss" scoped>
.content-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: none;
  @media only screen and (max-width: 768px) {
    background-image: none !important;
  }
}
.template-page > .about {
  padding-bottom: 7.4rem;
  display: flex;
}

.about.invisible {
  .date-title,
  p {
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &.in-viewport {
    .date-title,
    p {
      transform: translate(0);
      opacity: 1;
      transition-delay: 1.5s;
    }
    @for $i from 0 through 50 {
      p:nth-child(#{$i}) {
        transform: translate(0, 0);
        transition-delay: 0.1s * $i + 1.7;
      }
    }
  }
}
</style>