<template>
  <div>
    <div class="container season">
      <h4 class="title invisible right-left" v-in-viewport.once>Standing</h4>
      <p class="invisible right-left" v-in-viewport.once>Season {{seasons}}</p>
      <div class="invisible right-left table vgt-wrap" v-in-viewport.once>
        <div class="vgt-inner-wrap">
          <div class="vgt-responsive">
            <div class="table vgt-table">
              <div class="table-header">
                <div class="vgt-left-align">
                  <span>Position</span>
                </div>
                <div class="vgt-left-align">
                  <span>Team</span>
                </div>
                <div class="vgt-left-align secondary">
                  <span>W</span>
                </div>
                <div class="vgt-left-align secondary">
                  <span>D</span>
                </div>
                <div class="vgt-left-align secondary">
                  <span>L</span>
                </div>
                <div class="vgt-left-align secondary">
                  <span data-v-eb5a915e>GF</span>
                </div>
                <div class="vgt-left-align secondary">
                  <span>GA</span>
                </div>
                <div class="vgt-left-align secondary">
                  <span>GD</span>
                </div>
                <div class="vgt-left-align">
                  <span>Points</span>
                </div>
              </div>
              <div class="table-body">
                <div :class="rowStyleClassFn(team)" v-for="team in teams" :key="team.id">
                  <div class="vgt-left-align">
                    <span>{{team.position}}</span>
                  </div>
                  <div class="vgt-left-align">
                    <div class="title">
                      <img :src="team.logoUrl" />
                      <span>{{team.name}}</span>
                    </div>
                  </div>
                  <div class="vgt-left-align secondary">
                    <span>{{team.teamStats[0].win}}</span>
                  </div>
                  <div class="vgt-left-align secondary">
                    <span>{{team.teamStats[0].draw}}</span>
                  </div>
                  <div class="vgt-left-align secondary">
                    <span>{{team.teamStats[0].lost}}</span>
                  </div>
                  <div class="vgt-left-align secondary">
                    <span>{{team.teamStats[0].goalsFor}}</span>
                  </div>
                  <div class="vgt-left-align secondary">
                    <span>{{team.teamStats[0].goalsAgainst}}</span>
                  </div>
                  <div class="vgt-left-align secondary">
                    <span>{{team.teamStats[0].goalsDifferencial || 0}}</span>
                  </div>
                  <div class="vgt-left-align">
                    <span>{{team.points}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-description invisible right-left" v-in-viewport.once>
        <p v-for="item in desriptionItems" :key="item.abb">
          <span>{{item.abb}}</span>
          - {{item.word}}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
const url = "https://backend.football.1pls1.com/api";
export default {
  data() {
    return {
      season: "",
      seasonTeam: [],
      desription: [
        {
          abb: "W",
          word: "Win"
        },
        {
          abb: "D",
          word: "Draw"
        },
        {
          abb: "L",
          word: "Lost"
        },
        {
          abb: "GF",
          word: "Goals For"
        },
        {
          abb: "GA",
          word: "Goals Against"
        },
        {
          abb: "GD",
          word: "Goals Differencial"
        }
      ]
    };
  },
  computed: {
    seasons() {
      var season = this.$store.getters.seasons,
        item;
      season.slice(0, 1).map(el => {
        return (item = el.period);
      });
      this.season = item;
      return item;
    },
    teams() {
      var teams = this.$store.getters.teams,
        seasonTeam = [];
      teams.map(el => {
        el.teamStats.map(elem => {
          elem.goalsDifferencial = elem.goalsFor - elem.goalsAgainst;
          if (elem.season.period == this.season) {
            return elem;
          }
        });
        if (el.teamStats.length != 0) {
          seasonTeam.push(el);
        }
      });
      this.sortPoints(seasonTeam);
      this.positionCheck(seasonTeam);
      this.seasonTeam = seasonTeam;
      return seasonTeam;
    },
    secondaryInfo() {
      var secondaryInfo = [];
      this.seasonTeam.map(el => {
        el.teamStats.map(elem => {
          secondaryInfo.push(elem);
        });
      });
      return secondaryInfo;
    },
    desriptionItems() {
      return this.desription;
    }
  },
  methods: {
    setTeams() {
      this.$http
        .get(url + "/teams", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("teams:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setTeams", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    setSeasons() {
      this.$http
        .get(url + "/seasons", {
          headers: {
            "Access-Control-Allow-Origin": "*",
            accept: "application/json"
          }
        })
        .then(
          response => {
            //console.log("seasons:", response.data);
            const payload = response.data;
            return this.$store.dispatch("setSeasons", payload);
          },
          error => {
            console.log(error);
          }
        );
    },
    rowStyleClassFn(el) {
      return el.name == "Bridgeport Utd" ? "active" : false;
    },
    sortPoints(arr) {
      arr.map(el => {
        var points = 0;
        if (el.teamStats) {
          el.teamStats.map(elem => {
            points = elem.win * 3 + elem.draw * 2 + elem.lost * 0;
          });
        }
        el.points = points;
      });
      arr.sort((a, b) => (a.points > b.points ? -1 : 1));
    },
    positionCheck(arr) {
      arr.forEach(function(el, index) {
        el.position = index + 1;
      });
    }
  },
  mounted() {
    this.setTeams();
    this.setSeasons();
  }
};
</script>
<style lang="scss" scoped>
.season {
  padding-top: 9.5rem;
  @media only screen and (max-width: 650px) {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  & > .title {
    margin-bottom: 1.8rem;
    & + p {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.7rem;
      color: #868686;
      margin-bottom: 1.5rem;
      @media only screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
  .table-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3rem 0 9rem;
    @media only screen and (max-width: 768px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    @media only screen and (max-width: 650px) {
      display: none;
    }
    p {
      font-size: 1.4rem;
      color: #868686;
      font-weight: 400;
      letter-spacing: 0.5px;
      margin-right: 1rem;
      &:last-of-type {
        margin-right: 0;
      }
      span {
        font-weight: 500;
        color: #363636;
      }
    }
  }
}
.table.vgt-wrap {
  margin-top: 7rem;
  @media only screen and (max-width: 768px) {
    margin-top: 4rem;
  }
}
.table {
  .table-header {
    width: 100%;
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    div {
      background: #283891;
      min-height: 3rem;
      border: none;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 600;
      padding: 1rem 1rem 1rem 1.5rem;
      &:first-of-type {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &:last-of-type {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }
      padding: 1rem;
      text-align: center;
      width: calc(67rem / 8) !important;

      @media only screen and (max-width: 650px) {
        padding: 1rem;
        width: calc((100% - 14rem)) !important;
        font-size: 1.2rem;
      }
      &:nth-child(2) {
        text-align: left;
        width: 50rem !important;
        @media only screen and (max-width: 768px) {
          width: 35rem !important;
        }
        @media only screen and (max-width: 650px) {
          width: calc((100% - 14rem)) !important;
        }
      }
      &:nth-child(1) {
        padding-right: 1.5rem;
        text-align: left;
        @media only screen and (max-width: 650px) {
          width: 7rem !important;
        }
      }
      &:last-child {
        @media only screen and (max-width: 650px) {
          width: 7rem !important;
        }
      }
    }
  }
  .table-body {
    & > div {
      display: flex;
      &:last-child:nth-child(2n + 1) {
        border-bottom: 3px solid #eff1f8;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 3px;
          background: #283891;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
      &:last-child:nth-child(2n) {
        border-bottom: 3px solid #fff;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 3px;
          background: #283891;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }
      &:nth-of-type(odd) {
        background: #fff;
      }
      &:nth-of-type(even) {
        background: #eff1f8;
      }
      &.active {
        background-color: #fdc65a;
        div {
          text-transform: capitalize;
          font-weight: 700;
        }
      }
      & > div {
        border: none;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 4rem;
        color: #363636;
        padding: 0;
        &:nth-child(2) {
          text-align: left;
        }
        width: calc(67rem / 8);
        padding: 1rem 0.5rem 0.7rem 0.5rem;
        @media only screen and (max-width: 768px) {
          padding: 0.5rem;
          font-size: 1.3rem;
        }
        @media only screen and (max-width: 650px) {
          width: calc((100% - 14rem));
        }
        &:nth-child(2) {
          text-align: left;
          width: 50rem;
          @media only screen and (max-width: 768px) {
            padding-left: 1rem;
            width: 35rem;
          }
          @media only screen and (max-width: 650px) {
            width: calc((100% - 14rem)) !important;
          }
        }
        &:nth-child(1) {
          @media only screen and (max-width: 650px) {
            width: 7rem !important;
          }
        }
        &:last-child {
          @media only screen and (max-width: 650px) {
            width: 7rem !important;
          }
        }
        .title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img {
            width: 4rem;
            margin-right: 2rem;
            @media only screen and (max-width: 768px) {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  div.secondary {
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}

.invisible {
  &.right-left {
    transform: translate(100vw, 0);
    opacity: 1;
    transition: all 1.2s cubic-bezier(0, 0.99, 0.73, 1.01);

    &.table {
      transform: translate(0, 0);
      opacity: 1;
      .vgt-table .table-body > div,
      .vgt-table .table-header > div {
        transform: translate(100vw, 0);
        transition: all 1.2s ease-in-out;
      }
    }
  }
  &.in-viewport {
    transform: translate(0, 0);
    &.title {
      transition-delay: 0.2s;
      & + p {
        transition-delay: 0.5s;
      }
    }
    &.table {
      .vgt-table .table-header > div {
        transform: translate(0, 0);
        transition-delay: 0.4s;
      }
      @for $i from 0 through 100 {
        .vgt-table .table-body div:nth-child(#{$i}) {
          transform: translate(0, 0);
          transition-delay: 0.4s + 0.1s * $i;
        }
      }
    }
    &.table-description {
      transition-delay: 1.5s;
    }
  }
}
</style>