<template>
  <div class="schedule">
    <div class="title-invisible invisible" v-in-viewport.once>
      <h4 class="title">MATCH SCHEDULE</h4>
    </div>
    <app-show-more :info="info" class="blue" :class="info.class"></app-show-more>
    <div class="match-block">
      <div @click="goTodetail(item)" v-for="item in marchInfo" :key="item.id">
        <app-match-card :item="item" class="match"></app-match-card>
      </div>
    </div>
  </div>
</template>
<script>
import Show_more from "./shared/Show_more";
import Match_card from "./Match_card";
export default {
  data() {
    return {
      info: {
        url: "/schedule",
        class: "rect"
      }
    };
  },
  computed: {
    marchInfo() {
      return this.$store.getters.match.slice(0, 2);
    }
  },
  methods: {
    goTodetail(item) {
      if (
        event.target.tagName == "svg" ||
        event.target.tagName == "path" ||
        event.target.classList.contains("btn") ||
        event.target.parentElement.classList.contains("btn")
      ) {
        return false;
      } else {
        this.$router.push({
          name: "schedule-result",
          params: { id: item.id }
        });
      }
    }
  },
  components: {
    "app-show-more": Show_more,
    "app-match-card": Match_card
  }
};
</script>
<style lang="scss" scoped>
.schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
.match-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.5rem;
  width: 100%;
  .match {
    padding-top: 2.3rem;
    & > p {
      margin-bottom: 2rem;
    }
    .table {
      padding: 0 2rem;
    }
  }
  @media only screen and (max-width: 768px) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  @media only screen and (max-width: 992px) {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 7rem;
  }
  & > div {
    width: 50%;
    cursor: pointer;
    @media only screen and (max-width: 992px) {
      width: calc((100% - 4rem) / 2);
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    &:first-of-type {
      padding: 0 3rem 0 0;
      @media only screen and (max-width: 1199px) {
        padding: 0 2rem 0 0;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 5rem;
        padding: 0;
      }
    }
    &:last-of-type {
      padding: 0 0 0 3rem;
      @media only screen and (max-width: 1199px) {
        padding: 0 0 0 2rem;
      }
      @media only screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }
}
</style>