<template>
  <div class="players">
    <div class="bg-line container"></div>
    <div class="slider-header container">
      <div>
        <h4 class="title white">Players</h4>
        <app-show-more :info="info" class="orange" :class="info.class"></app-show-more>
      </div>
      <div class="slider-navigation">
        <div class="swiper-pagination player-slider" slot="pagination"></div>
        <app-swiper-btn :name="btnName"></app-swiper-btn>
      </div>
    </div>
    <div class="slider-overlay">
      <swiper :options="swiperOption" ref="mySwiper">
        <swiper-slide v-for="player in players" :key="player.id">
          <app-players-card :item="player"></app-players-card>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>
<script>
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import Swiper_button from "../components/shared/Swiper_button";

import Show_more from "./shared/Show_more";
import PlayersCard from "./shared/Players-card";

export default {
  data() {
    return {
      info: {
        url: "/players",
        text: "SHOW ALL PLAYERS",
        class: "rect"
      },
      swiperOption: {
        speed: 800,
        slidesPerView: 3,
        spaceBetween: 30,
        slideActiveClass: "active-slide",
        loop: true,
        pagination: {
          el: ".player-slider",
          clickable: true
        },
        navigation: {
          nextEl: ".next",
          prevEl: ".prev"
        },
        breakpoints: {
          1024: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          992: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          640: {
            slidesPerView: 1,
            spaceBetween: 0
          }
        }
      },
      btnName: {
        left: "prev",
        right: "next"
      }
    };
  },
  computed: {
    players() {
      return this.$store.getters.players;
    },
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  components: {
    swiper,
    swiperSlide,
    "app-swiper-btn": Swiper_button,
    "app-show-more": Show_more,
    "app-players-card": PlayersCard
  }
};
</script>
<style lang="scss" scoped>
$blue: #15224e;
.players {
  position: relative;
  background-color: $blue;
  padding: 8rem 0 9.5rem;
  & > *:not(.bg-line) {
    position: relative;
    z-index: 2;
  }
  .bg-line {
    @media only screen and (max-width: 992px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: calc((100vw - 117rem) / 2 + 117rem / 3);
    height: 100%;
    background: linear-gradient(
      270.1deg,
      #0a0736 0.08%,
      rgba(30, 27, 68, 0.864583) 51.53%,
      rgba(38, 34, 98, 0.03) 162.03%
    );
    opacity: 0.3;
    z-index: 1;
  }
}
.slider-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4.5rem;
}
.slider-navigation {
  width: calc(117rem / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .swiper-pagination {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.slider-overlay {
  margin-left: calc((100vw - 117rem) / 2);
  padding-right: 7.5rem;
  overflow: hidden;
  @media only screen and (max-width: 1199px) {
    margin-left: calc((100vw - 105rem) / 2);
    padding-right: 5rem;
  }
  @media only screen and (max-width: 992px) {
    margin-left: calc((100vw - 78rem) / 2);
  }
  @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
    margin-left: 1.5rem;
  }
}
.swiper-container {
  width: 100%;
  margin-left: 0;
  overflow: visible;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 3rem;
}
</style>