<template>
  <div class="standing invisible" v-in-viewport.once="{margin: '-30px'}">
    <h4 class="title">standings</h4>
    <app-show-more :info="info" class="blue" :class="info.class"></app-show-more>
    <app-team-table :filterValue="true" :columns="columns"></app-team-table>
  </div>
</template>
<script>
import Show_more from "./shared/Show_more";
import TeamTable from "./shared/TeamTable";

export default {
  data() {
    return {
      info: {
        url: "/standings",
        class: "line"
      },
      columns: [
        {
          label: "Position",
          field: "position",
          sortable: false
        },
        {
          label: "Team",
          field: "name",
          sortable: false
        },
        {
          label: "Points",
          field: "points",
          sortable: false
        }
      ]
    };
  },
  components: {
    "app-show-more": Show_more,
    "app-team-table": TeamTable
  }
};
</script>
<style lang="scss" scoped>
.standing {
  width: 31.5%;
  @media (max-width: 992px) {
    width: 100%;
  }
}
</style>