.prevent-overlay{
    @media only screen and (max-width: 768px){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: 50;
        &.show{
            visibility: visible;
        }
    }
}

html {
    font-size: 62.5%;
    height: 100%;
    @media only screen and (max-width: 1600px) {
        font-size: 55%;
    }
    @media only screen and (max-width: 1499px) {
        font-size: 48%;
      }
    @media only screen and (max-width: 1399px) {
        font-size: 47%;
    }
    @media only screen and (max-width: 1199px) {
        font-size: 56%;
    }
    @media (max-height: 499px) and (max-width: 899px), (max-width: 767px) {
          font-size: 62.5%;
    }
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.75;
    color: $textColor;
    position: relative;
    box-sizing: border-box;
    background-color: #F9FAFF;
    padding-top: 8rem;
    &.hidden{
        height: 100%;
    }
}
*::selection {
    color: #fff; /* Цвет текста */
    background: $orange; /* Цвет фона */
}
p:empty{
    padding: 0 !important;
    margin: 0 !important;
}
.container{
    width: 117rem;
    min-width: 117rem;
    max-width: 117rem;
    margin: 0 calc((100vw - 117rem) /2 );
    @media only screen and (max-width: 1199px){
        width: 105rem;
        min-width: 105rem;
        margin: 0 calc((100vw - 105rem) /2 );
    }
    @media only screen and (max-width: 992px){
        width: 75rem;
        min-width: 75rem;
        margin: 0 calc((100vw - 75rem) /2 );;
    }
    @media only screen and (max-width: 768px){
        width: calc(100vw - 3rem);
        min-width: calc(100vw - 3rem);
        margin: 0 1.5rem;
    }
}
ul {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
form {
    width: 100%;
    position: relative;
  }
form input:not([type='checkbox']),
form input:not([type='radio']),
form input:not([type='file']),
form select,
form textarea {
    -webkit-border-radius: 0;
  border-radius: 0;
}
form input:not([type='checkbox'])::-moz-placeholder,
form input:not([type='radio'])::-moz-placeholder,
form input:not([type='file'])::-moz-placeholder,
form select::-moz-placeholder,
form textarea::-moz-placeholder {
  color: $textColor;
  opacity: 1;
}
form input:not([type='checkbox'])::-ms-input-placeholder,
form input:not([type='radio'])::-ms-input-placeholder,
form input:not([type='file'])::-ms-input-placeholder,
form select::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: $textColor;
  opacity: 1;
}
form input:not([type='checkbox'])::-webkit-input-placeholder,
form input:not([type='radio'])::-webkit-input-placeholder,
form input:not([type='file'])::-webkit-input-placeholder,
form select::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: $textColor;
  opacity: 1;
}
form input:not([type='checkbox']):focus::-moz-placeholder,
form input:not([type='radio']):focus::-moz-placeholder,
form input:not([type='file']):focus::-moz-placeholder,
form select:focus::-moz-placeholder,
form textarea:focus::-moz-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']):focus::-ms-input-placeholder,
form input:not([type='radio']):focus::-ms-input-placeholder,
form input:not([type='file']):focus::-ms-input-placeholder,
form select:focus::-ms-input-placeholder,
form textarea:focus::-ms-input-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']):focus::-webkit-input-placeholder,
form input:not([type='radio']):focus::-webkit-input-placeholder,
form input:not([type='file']):focus::-webkit-input-placeholder,
form select:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
form input:not([type='checkbox']).error,
form input:not([type='radio']).error,
form input:not([type='file']).error,
form select.error,
form textarea.error {
  border-color: tomato;
}
form input[type='submit'] {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.btn{
    display: inline-block;
    min-width: 11rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 3.5rem;
    border: none;
    border-radius: 4px;
    background-color: $orange;
    color: $white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    @media only screen and (max-width: 992px){
        padding: 0 2.5rem;
        min-width: 9.8rem;
    }
    @media only screen and (max-width: 450px){
        width: 100%;
    }
    position: relative;
    overflow: hidden; 
    span.text{
        position: relative;
        z-index: 2;
        
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -5rem;
      bottom: 0;
      right: 0;
      border-left: 5rem solid transparent;
      border-bottom: 8rem solid $orangeHover;
      transform: translateX(100%);
      transition: all 0.5s ease-out;
    }
  
    &:hover {
      &:before {
        transform: translateX(0);
      }
    }
      
    /*&:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $orangeHover;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }
    
    &:before { transform: translateY(-100%); }
    &:after { transform: translateY(100%); }
    
    &:hover {
      &:before { transform: translateY(-48%); }
      &:after { transform: translateY(48%); }
    }*/
    /*&:hover{
        background-color: $blue;
        color: #fff;
    } */  
    &_icon{
        padding: 0 2rem;
        span.text{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            svg{
                width: 1.3rem;
                height: 1.5rem;
                margin-right: 7px;
            }
            @media only screen and (max-width: 450px){
                justify-content: center;
            }
        }
    }
    &_big{
        width: 27rem;
        height: 7rem;
        line-height: 7rem;
        font-size: 1.8rem;
        @media only screen and (max-width: 992px){
            height: 6rem;
            line-height: 6rem;
        }
    }
    &_play{
        min-width: 7rem;
        width: 7rem;
        height: 7rem;
        line-height: 7rem;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                @media only screen and (max-width: 992px){
                    min-width: 6rem;
                    width: 6rem;
                    height: 6rem;
                    line-height: 6rem;
                }
        svg {
            width: 2.8rem;
            height: 2.5rem;
            padding-left: 0.6rem;
            @media only screen and (max-width: 992px){
                width: 2.4rem;
                height: 2.2rem;
            }
            path{
            transition: all .3s ease-in-out;
            }
        }
        &:after, &:before{
            display: none;
        }
    }
}
$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
/*.btn-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    @media only screen and (max-width: 992px){
        margin-top: 2.5rem;
    }
    @media (max-height: 499px) and (max-width: 899px) {
        margin-top: 1.5rem;
    }
    span{
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &.btn_play{
            margin-right: 2.3rem;
        }
        @media only screen and (max-width: 992px){
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
    &:hover{
        span{
            color: $orange;
        }
    }
}
.btn-wrapper{
    &:hover{
        .btn{
            background-color: #fff;
            border-color: $orange;
            &_play{
                svg path{
                    fill: $orange;
                }
            }
        }
    }
}*/
.btn-wrapper {
    display: none;
    position: relative;
    width: 21rem;
    margin-top: 4rem;
    cursor: pointer;
    @media only screen and (max-width: 992px){
        margin-top: 2.5rem;
    }
    @media (max-height: 499px) and (max-width: 899px) {
        margin-top: 1.5rem;
    }
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      border-radius: 4rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.3s, cubic-bezier(0.65,0,.076,1));
          width: 2.5rem;
          height: 0.5rem;
          left: 0;
          background: none;
          transform: translate(1.5rem, 0);
          @media only screen and (max-width: 992px){
            transform: translate(1rem, 0);
          }
          &::before {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            width: 2rem;
            height: 2rem;
            border-top: 0.5rem solid #fff;
            border-right: 0.5rem solid #fff;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      color: $white;
      font-weight: 700;
      line-height: 1.8;
      font-size: 1.8rem;
      text-align: center;
      text-transform: uppercase;
    }
    &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
            background: $white;
            transform: translate(3rem, 0);
            }
          }
        }
        .button-text {
          color: $white;
        }
      }
}
  

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  text-decoration: none;
  outline: none;
}

h2{
    max-width: 50rem;
    font-size: 8rem;
    font-weight: 700;
    line-height: 9rem;
    text-transform: uppercase;
    color: #fff;
    @media only screen and (max-width: 992px){
        font-size: 60px;
        font-size: 6rem;
        line-height: 7rem;
    }
    @media only screen and (max-width: 768px){
        font-size: 50px;
        font-size: 5rem;
        line-height: 6rem;
    }
    @media only screen and (max-width: 499px){
        font-size: 40px;
        font-size: 4rem;
        line-height: 5rem;
    }
}
h3{
    font-size: 48rem;
    font-size: 4.8rem;
    line-height: 5.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    @media only screen and (max-width: 768px){
        font-size: 3.5rem;
        line-height: 4rem;
    }
    &.white{
        color: $white;
    }
}
h4{
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 700;
    @media only screen and (max-width: 768px){
        font-size: 3rem;
        line-height: 3rem;
    }
    &.title{
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &.part-title{
        font-size: 3rem;
        line-height: 5.5rem;
        text-transform: uppercase;
        @media only screen and (max-width: 768px){
            font-size: 2.5rem;
            line-height: 3rem;
        }
        @media only screen and (max-width: 560px){
            margin-bottom: 1rem;
        }
    }
    &.white{
        color: $white;
    }
}
h5{
    font-size: 20px;
    font-size: 2rem;
    line-height: 3rem;
    &.title{
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
    }
    &.white{
        color: $white;
    }
}
h6{
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    &.blue{
        color: $textBlue;
    }
    &.orange{
        color: $orange;
    }
    &.white{
        color: #fff;
    }

}
p{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 500;
}
.news-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
            width: 100%;
    .news{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .btn-wrapper{
            display: none;
        }
        .date{
            font-size: 12px;
            font-size: 1.2rem;
            line-height: 2.5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
                 -webkit-box-align: center;
                     -ms-flex-align: center;
                         align-items: center;
            span.icon{
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
    &.horizontal{
        .news{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
                    margin-right: 3rem;
                    //overflow: hidden;
                    width: calc(49.5% - 1.5rem);
                    @media only screen and (max-width: 1399px){
                        margin-right: 20px;
                        margin-right: 2rem;
                        width: calc(50% - 1rem);
                    }
                    .img{
                        height: 100%;
                        margin-bottom: 0;
                        min-width: 200px;
                        max-width: 200px;
                        width: 200px;
                        @media only screen and (max-width: 1399px){
                            min-width: 150px;
                            max-width: 150px;
                            width: 150px;
                        }
                        &:after {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            content: "";
                            background: linear-gradient(
                              to top,
                              rgba(79, 79, 79, 1),
                              rgba(155, 155, 155, 0)
                            );
                            opacity: 0.6;
                          }
                    }
                    &:first-of-type{
                        background-color: #15224E;
                    }
                    &:last-of-type{
                        margin-right: 0;
                    }
                    .category{
                        margin-bottom: 7px;
                        display: block;
                    }
                    h5{
                        margin-bottom: 1rem;
                    }
        }
    }
    &.home{
        -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
        .news{
            .img{
                min-height: 185px;
                min-height: 18.5rem;
                @media only screen and (max-width: 1399px){
                    min-height: 165px;
                    min-height: 16.5rem;
                }
            }
            &:last-of-type{
                background-color: #fff;
                @media only screen and (max-width: 992px){
                    display: none;
                }
                h5{
                    color: #363636;
                }
            }
            h5{
                font-weight: 700;
                margin-bottom: 2.5rem;
                @media only screen and (max-width: 1399px){
                    line-height: 2.5rem;
                }
            }
            .category{
                line-height: 1.4rem;
                margin-bottom: 1.3rem;
            }
            .category, .date{
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 400;
                color: $grey;
            }
            .date{
                position: absolute;
                bottom: 1.7rem;
                @media only screen and (max-width: 992px){
                    bottom: 1.5rem;
                }
            }
            &>div:last-of-type{
                padding: 22px 20px 17px 30px;
                padding: 2.2rem 2rem 1.7rem 3rem;
                @media only screen and (max-width: 1399px){
                    padding: 20px 13px 17px 20px;
                    padding: 2rem 1.3rem 1.7rem 2rem;
                }
                @media only screen and (max-width: 992px){
                    padding: 15px;
                    padding: 1.5rem;
                }
            }
            &.Video, &.video{
                .video-btn{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    min-width: 200px;
                    max-width: 200px;
                    width: 200px;
                    margin: 0;
                    @media only screen and (max-width: 1399px){
                        min-width: 150px;
                        max-width: 150px;
                        width: 150px;
                    }
                    .btn-wrapper{
                        display: block;
                        height: 100%;
                        width: 100%;
                        margin: 0;
                        .circle{
                            padding: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            overflow: visible;
                            &:after{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                background-color: $orange;
                                content: '';
                                display: block;
                                border-radius: 50%;
                                transition: all 0.6s $easeOutQuint;
                                z-index: -1;
                                
                            }
                        }
                        &:hover{
                            .circle{
                                background-color: $orangeHover;
                                width: initial;  
                                &:after{
                                    width: 115%;
                                    height: 115%;
                                    background-color: $orangeHover;
                                }                              
                            }
                        }
                        .icon.arrow{
                            transform: translate(-50%, -50%);
                            width: 2.8rem;
                            height: 2.8rem;
                            top: 50%;
                            left: 53%;
                            bottom: initial;
                            background: url(../assets/img/play.svg) center center/contain no-repeat;

                            &:before{
                                display: none;
                            }
                        }
                        .button-text{
                            display: none;
                        }
                    }
                }
            }
            
        }
    }
}

.bg-line {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    &:after, &:before {
      position: absolute;
      height: 100%;
      width: calc(100% / 3);
      content: "";
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    &:before{
        left: calc(100% / 3);
    }
}

.hero{
    .slick-slide {
        position: relative;
        .content{
            div{
                overflow: hidden;
            }
            &:before{
                position: absolute;
                top: 0;
                left: 45%;
                width: 50%;
                //width: 0;
                height: 100%;
                content: "";
                background: -o-linear-gradient(156.06deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
                background: linear-gradient(293.94deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
                opacity: 0.9;
                transition: left 1.5s ease-out;
                @media only screen and (max-width: 1199px){
                    right: 0;
                    width: 30%;
                }
                @media only screen and (max-width: 768px){
                    width: 100vw;
                    right: -15px;
                }
            }
        }
        &.slick-active{
            .content div{
                overflow: visible;
            }
        }
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100vw - (100vw - 117rem));
            content: "";
            background: -o-linear-gradient(140.73deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
            background: linear-gradient(309.27deg, #0A0736 0.36%, rgba(30, 27, 68, 0.864583) 18.11%, rgba(38, 34, 98, 0.03) 56.23%);
            opacity: 0.7;
            -webkit-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                    transform: rotate(-180deg);
            @media only screen and (max-width: 1199px){
                width: 100%;
            }
        }
        &:after {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: calc(100vw - (100vw - 117rem));
          content: "";
          background: -o-linear-gradient(179.65deg, #0A0736 0.31%, rgba(30, 27, 68, 0.864583) 31.83%, rgba(38, 34, 98, 0.03) 99.52%);
            background: linear-gradient(270.35deg, #0A0736 0.31%, rgba(30, 27, 68, 0.864583) 31.83%, rgba(38, 34, 98, 0.03) 99.52%);
            opacity: 0.9;
          @media only screen and (max-width: 1199px){
              width: 0;
          }
        }
    }
    .slick-slider, .slick-track{
        height: 100%;
    }
    .slick-list {
        overflow: visible;
        height: 100%;
    }
    .slick-slide{
        position: relative;
        &.slick-active{
            .content{
                border-left: 1px solid rgba(255, 255, 255, 0.1);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
            }
        }
        & > div, & > div > div{
            height: 100%;
        }
        & > div > div{
            background-size: cover;
            background-position: top left;
            transition: background-position 0.2s $easeInQuint;
            @media only screen and (max-width: 768px){
                background-position: top center;
            }
            
        }
        &.slick-active > div > div{
            background-position: top center;
        }
    }
    .slick-dots{
        transform: scale(-1,-1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: 6.5rem;
        bottom: 23%;
        z-index: 3;
        @media only screen and (max-width: 1199px){
            left: calc((100% - 105rem) / 2);
            transform: none;
        }
        @media only screen and (max-width: 992px){
            left: calc((100% - 78rem) / 2);
        }
        @media only screen and (max-width: 768px){
            bottom: 8rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .slick-dots li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 5px;
        &:first-of-type{
            margin: 0 0 0 5px;
        }
        &::before{
            display: none;
        }

        button{
            width: 3rem;
            height: 2px;
            background-color: #fff;
            border-radius: 0;
            font-size: 0;
        }
        &.slick-active{
            button{
                background-color: $orange;
            }
        }
    }
}
.hero .slick-slide.slick-active .content:before{
    left: 50%;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/



/*swiper button/pagination*/
.swiper-pagination{
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
}
.swiper-pagination-bullet{
    width: 3rem;
    margin-right: .5rem;
    height: 2px;
    background: #fff;
    opacity: 1;
    border-radius: 0;
    transition: all 0.2s;
    &.swiper-pagination-bullet-active{
        background-color: $orange;
    }
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next, 
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{
    transform: scale(1);
    opacity: 0.1;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{
    transform: scale(1);
    opacity: 0.5;
}
.slider-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2rem;
}
.swiper-button-prev, .prev, .swiper-button-next, .next{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    width: 2.6rem;
    height: 1.4rem;
    background-image: none;
    background-size: cover;
    background-position: center;
    margin: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    &.swiper-button-disabled{
        opacity: 1;
    }
    &:after, &:before{
        display: none;
    }
    &.slick-hidden{
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        opacity: 0.5;
        cursor: initial;
    }
}
.swiper-button-prev, .prev{
    margin-right: 2rem;
    &:hover{
        transform: translate(-5px, 0)
    }
    &.slick-hidden:hover{
        transform: none;
    }
}
.swiper-button-next, .next{
    transform: rotate(-180deg);
    &:hover{
        transform: translate(5px, 0) rotate(-180deg);
    }
    &.slick-hidden:hover{
        transform: noneцк;
        transform:  rotate(-180deg);
    }
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

.slider-overlay.small-slider{
    //width: calc((100% - 8rem) / 6);
    .slick-slide{
       // width: 18.5rem !important;
       &.slick-cloned{
           opacity: 0;
       }
    }
}


/*match / standing*/
.col-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 9rem 0 10rem;
    @media (max-width: 992px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                padding-top: 6rem;
                padding-bottom: 8rem;
    }
}
.match-block > div:first-of-type{
  .table div:last-of-type {
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      right: -3rem;
      height: 8rem;
      width: 2px;
      background: #ececec;
      content: "";
      @media only screen and (max-width: 992px) {
        right: -4rem;
      }
    }
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------*/





.latest-news{
    .news-list.vertical {
        width: 50%;
        .news{
            width: calc((100% - 3rem) / 2);
            margin-right: 3rem;
            &:nth-child(2){
                margin-right: 0;
            }
            @media only screen and (max-width: 992px) {
                width: calc((65% - 2rem) / 2);
                margin-right: 2rem;
            }
            @media only screen and (max-width: 768px){
                width: 100%;
                margin-right: 0;
            }
        }
    }
    & > .content > .alone{
        transform: translate(0, 0);
        opacity: 1;
        .news {
            transform: translate(100vw, 0);
            transition: all 1.5s cubic-bezier(0.2, 0.64, 0.28, 1);
        }
        &.in-viewport {
            .news {
                transform: translate(0, 0);
                transition-delay: 0.5s + 0.3 * 3;
            }
        }
        .news{
            background: transparent;
            width: 100%;
            justify-content: flex-start;
            padding-right: 5rem;
            padding-left: 9rem;
            //margin-left: 10rem;
            margin-right: 0;
            @media only screen and (max-width: 1399px){
                padding-left: 4rem;
            }
            @media only screen and (max-width: 992px){
                padding: 0 1rem 0 2rem;
            }
            .btn-wrapper{
                display: flex;
            }
            .date, .category{
                color: #A8A8A8;
                font-size: 1.2rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
                @media only screen and (max-width: 992px){
                    margin-bottom: 1rem;
                    line-height: 2rem;
                }
            }
            .category{
                display: inline-block;
                visibility: hidden;
                margin-bottom: 2.5rem;
            }
            .date{
                position: absolute;
                top: 10px;
            }
            & > div{
                position: relative;
                max-width: 42rem;
            }
            .img{
                display: none;
            }
            h5{
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 5rem;
                @media only screen and (max-width: 992px){
                    font-size: 2.5rem;
                    line-height: 3.5rem;
                }
                @media (max-height: 499px) and (max-width: 899px) {
                    font-size: 3.6rem;
                    line-height: 5rem;
                }
            }
        }
    }
    .swiper-pagination{
        bottom: -6rem;
        left: 50%;
        transform: translateX(-50%);
        @media only screen and (max-width: 768px){
            bottom: -3rem;
        }
    }
    .swiper-container{
        //overflow: visible;
        width: 100%;
        margin-left: 0;
        overflow: visible;
    }
    .swiper-slide{
        .news{
            width: 100%;
            //max-width: 50rem;
            min-width: 30rem;
            margin: 0 auto;
            background: transparent;
            flex-direction: column;
            @media only screen and (max-width: 599px){
                min-width: 100%;
            }
            .category{
                display: none;
            }
            .img{
                width: 100%;
                margin: 0 auto;
                //padding-top: 70%;
                background-position: top center;
                border-radius: 4px;
                margin-bottom: 3rem;
            }
            .btn-wrapper{
                display: none;
            }
        }
    }
}

/*-----------------------------------------------------------------------------------------------------------*/

/*sponsors*/
.sponsors{
    .swiper-pagination-bullet{
        background-color: rgba(21, 34, 78, 0.5);
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #15224e;
    }
}


/*-----------------------------------------------------------------------------*/

/*table*/

.vgt-wrap {
    margin-top: 3.5rem;
    @media only screen and (max-width: 992px){
        max-width: 50rem;
        margin: 5rem auto 0;
    }
    @media only screen and (max-width: 768px){
        margin-top: 3rem;
    }
    .vgt-responsive{
        overflow: hidden;
        padding-bottom: 3px;
        //border-bottom: 3px solid #283891;
        
    }
    table.vgt-table{
        border: none;
        background: transparent;
        padding-bottom: 3px;
    }
    .vgt-table thead {
        border-radius: 2px;
        overflow: hidden;
    }
    .vgt-table thead th {
        background: #283891;
        min-height: 3rem;
        border: none;
        color: #fff;
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 600;
        padding: 0.5rem 1rem 1rem 1.5rem;
        &:first-of-type{
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &:last-of-type{
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
    .vgt-table tbody tr:last-child:nth-child(2n+1){
        border-bottom: 3px solid #EFF1F8;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #283891;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    .vgt-table tbody tr:last-child:nth-child(2n){
        border-bottom: 3px solid #fff;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 3px;
            background: #283891;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    .vgt-table tbody tr:nth-of-type(odd){
        background: #fff;
    }
    .vgt-table tbody tr:nth-of-type(even){
        background: #EFF1F8;
    }
    table.vgt-table tr.active td{
        text-transform: uppercase;
        font-weight: 700;
    }
    table.vgt-table td{
        border: none;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 4rem;
        color: #363636;
        padding: 0;
        &:nth-child(2){
            text-align: left;
        }
    }
    td .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        img{
            width: 4rem;
            margin-right: 2rem;
        }
    }
}
.season{
    .vgt-wrap{
        max-width: 100%;
    }
}
.standing{
    td .title {
        padding-left: 1.5rem;
        img{
            display: none;
        }
    }
    .vgt-wrap table.vgt-table tbody tr:last-child:nth-child(2n+1), .vgt-wrap table.vgt-table tbody tr:last-child:nth-child(2n){
        &:after{
            bottom: 0;
        }
    }
}
.season{
    /*th.secondary,td.secondary {
        @media only screen and (max-width: 650px){
        display: none;
        }
    }
    .vgt-wrap {
        @media only screen and (max-width: 992px){
            max-width: 100%;
        }
    }
    .vgt-table thead th{
        padding: 1rem;
        text-align: center;
        min-width: calc(67rem / 8) !important;
        @media only screen and (max-width: 768px){
            padding: 1rem;
        }
        &:nth-child(2){
            text-align: left;
            min-width: 50rem;
            
        }
        &:nth-child(1){
            padding-right: 1.5rem;
            text-align: left;
            @media only screen and (max-width: 650px){
                font-size: 0; 
            }
        }
    }
    .vgt-table tbody tr.active{
        background-color: #FDC65A;
        td{
            text-transform: capitalize;
        }
    }
    /*table.vgt-table td{
        width: calc(67rem / 8);
        padding: 1rem 0.5rem 0.7rem 0.5rem;
        @media only screen and (max-width: 768px){
            width: calc(67rem / 15);
        }
        &:nth-child(2){
            text-align: left;
            width: 50rem;
            @media only screen and (max-width: 768px){
                padding-left: 1rem;
            }
        }
    }*/
}

.container-small{
    padding: 0 20rem;
    @media only screen and (max-width: 992px){
        padding: 0 15rem;
    }
    @media only screen and (max-width: 768px){
        padding: 0;
    }
}
.template-page{
    .intro {
        width: 100%;
        height: 45rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        &::before {
          width: calc((100vw - 117rem) / 2);
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          content: "";
          background: linear-gradient(
            270.12deg,
            #0a0736 0.08%,
            rgba(30, 27, 68, 0.864583) 51.53%,
            rgba(38, 34, 98, 0.03) 162.03%
          );
          opacity: 0.8;
          @media only screen and (max-width: 1199px){
            width: calc((100vw - 105rem) / 2);
          }
          @media only screen and (max-width: 992px){
            width: calc((100vw - 75rem) / 2);
          }
          @media only screen and (max-width: 768px){
            width: calc(100% / 3);
          }
          @media only screen and (max-width: 599px) {
            width: 0;
          }
        }
        &::after {
            width: calc((100vw - 117rem) / 2);
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            content: "";
            background: linear-gradient(270.09deg, #0A0736 0.08%, rgba(30, 27, 68, 0.864583) 51.53%, rgba(38, 34, 98, 0.03) 162.03%);
            opacity: 0.35;
            @media only screen and (max-width: 1199px){
              width: calc((100vw - 105rem) / 2);
            }
            @media only screen and (max-width: 992px){
              width: calc((100vw - 75rem) / 2);
            }
            @media only screen and (max-width: 768px){
              width: calc(100% / 3);
            }
            @media only screen and (max-width: 599px) {
              width: 0;
            } 
          }
        .content {
            position: relative;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            //z-index: 2;
            .container-small{
                padding-left: 0;
                @media only screen and (max-width: 992px){
                    padding: 0;
                  }
            }
            & > div:not(.back-to-main) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                padding-bottom: 3rem;
                position: relative;
                z-index: 2;
                @media only screen and (max-width: 768px){
                    padding-bottom: 1rem;
                }
                h3 {
                    margin-bottom: 0;
                    line-height: 1.5;
                    @media only screen and (max-width: 992px){
                        margin-bottom: 1rem;
                        line-height: 1.3;
                    }
                }
                h4 {
                    text-transform: capitalize;
                    line-height: 1.5;
                    max-width: 80%;
                    @media only screen and (max-width: 768px){
                        max-width: 100%;
                    }
                    &.part-title-small{
                        font-size: 3rem;
                        line-height: 1.5;
                         @media only screen and (max-width: 768px){
                            font-size: 2.5rem;
                        }
                    }
                    & + .tags{
                        width: 100%;
                        margin-top: 2rem;
                    }
                }
                @media only screen and (max-width: 768px){ 
                    flex-direction: column-reverse;
                }
            }
            &:before {
                width: calc(100% + (100vw - 117rem) / 2);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                content: "";
                background: linear-gradient(
                339.72deg,
                #0a0736 0.36%,
                rgba(30, 27, 68, 0.864583) 18.11%,
                rgba(38, 34, 98, 0.03) 56.23%
                );
                opacity: 0.7;
                transform: rotate(-180deg);
                
                @media only screen and (max-width: 1199px){
                    width: calc(100% + (100vw - 105rem) / 2);
                }
                @media only screen and (max-width: 992px){
                    width: calc(100% + (100vw - 75rem) / 2);
                }
                @media only screen and (max-width: 768px){
                    width: 100vw;
                    left: -1.5rem;
                    background: linear-gradient(24.43deg, #0A0736 0%, rgba(30, 27, 68, 0.864583) 27.8%, rgba(38, 34, 98, 0.03) 87.51%);
                    transform: rotate(0);
                  }
            }
        }
    }
    &.about{
        .intro{
            background-position: 70% center;
        }
        .page-content{
            padding-bottom: 8.5rem;
            @media only screen and (max-width: 992px) {
                padding-bottom: 5rem;
            }
        }
    }
    .about {
        p {
            margin-bottom: 3.5rem;
            @media only screen and (max-width: 1199px){
               margin-bottom: 2.5rem;
            }
            strong{
                margin-top: 2rem;
                font-size: 2rem;
                line-height: 3rem;
                color: #363636;
                text-transform: inherit;
                margin-bottom: 3.3rem;
            }
            img {
                border-radius: 4px;
                max-height: 48rem !important;
                @media only screen and (max-width: 992px){
                    max-height: 38rem !important;
                }
                @media only screen and (max-width: 768px){
                    max-height: 32rem !important;
                }
                @media only screen and (max-width: 499px){
                    max-height: 30rem !important;
                }
                @media only screen and (max-width: 399px){
                    max-height: 25rem !important;
                }
            }
        } 
    }  
    .photo-video {
        position: relative;
        .preview {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            border-radius: 4px;
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(0, 0, 0, 0.25);
            }
            .btn-wrapper{
                width: 100%;
                height: 100%;
                margin: 0;
                display: block;
                z-index: 1;
                .circle{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                &:hover{
                    .circle{
                        background-color: #ffa200;
                        width: initial;
                        .icon.arrow{
                            background: transparent;
                            transform: translate(1.5rem, 0);
                        }
                    }
                }
            }
        }
        img {
            border-radius: 4px;
            height: 48rem !important;
            @media only screen and (max-width: 992px){
                height: 38rem !important;
            }
            @media only screen and (max-width: 768px){
                max-height: 32rem !important;
            }
            @media only screen and (max-width: 499px){
                height: 30rem !important;
            }
            @media only screen and (max-width: 399px){
                height: 25rem !important;
            }
        }
        span {
        display: block;
        position: relative;
        font-size: 1.4rem;
        color: #a8a8a8;
        text-align: center;
        padding: 2.5rem 0 2.4rem;
        border-bottom: 1px solid #e1e1e1;
        &:empty {
            border: none;
            padding: 0;
        }
        }
        margin-bottom: 2rem;
        @media only screen and (max-width: 1199px){
            margin-bottom: 0;
        }
        &+img{
            display: none;
        }
    }
    .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .date-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 0 2rem;
        margin-bottom: 4rem;
        border-bottom: 1px solid #e1e1e1;
        h5 {
          color: #363636;
          font-size: 1.4rem;
          font-weight: 500;
          text-transform: uppercase;
        }
    }
    .page-content {
        position: relative;
        display: flex;
        padding-bottom: 6rem;
        .sticky-sidebar {
          min-width: 20rem;
          width: 20rem;
          @media only screen and (max-width: 992px) {
            min-width: 15rem;
            width: 15rem;
          }
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }
        .container-small {
          padding: 6rem 20rem 0 0;
          @media only screen and (max-width: 992px) {
            padding: 6rem 0 0 0;
          }
        }
      }
}

.country-overlay{
    transform: scale(1.2, 1);
}


.news-created-list {
    .news-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 3rem);
        @media only screen and (max-width: 1199px){
            width: calc(100% + 2rem); 
        }
        @media only screen and (max-width: 769px){
            width: 100%; 
        }
      .news {
        width: calc((100% - 12rem) / 4);
        margin-right: 3rem;
        margin-bottom: 4.5rem;
        @media only screen and (max-width: 1199px){
            width: calc((100% - 8rem) / 4);  
            margin-right: 2rem;
            margin-bottom: 4rem;
        }
        h5{
            color: #363636;
        }
        .btn-wrapper{
            display: none;
        }
        .img{
            height: 20.5rem;
            width: 100%;
          }
        
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
            width: calc((100% - 9rem) / 3);
            @media only screen and (max-width: 1199px){
                width: calc((100% - 6rem) / 3);  
            }
            .img{
                height: 25rem;
            }
        }
        @media only screen and (max-width: 992px){
            width: calc((100% - 6rem) / 3);
            margin-right: 2rem;
            &:nth-child(1n){
                width: calc((100% - 6rem) / 3);
                .img{
                    height: 18rem;

                }
            }
        }
        @media only screen and (min-width: 769px){
            &.extended {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: calc(100% - 3rem);
            padding: 5rem 0;
            border-top: 1px solid #E1E1E1;
            border-bottom: 1px solid #E1E1E1;
            margin-bottom: 6rem;
            @media only screen and (max-width: 1199px){
                width: calc(100% - 2rem);  
                padding: 3rem 0;
                margin-bottom: 3rem;
            }
            //margin-right: 0;
            h5{
                font-size: 3rem;
                line-height: 4rem;
                font-weight: 700;
                padding-right: 2rem;
                margin-bottom: 1.1rem;
            }
            .category{
                display: block;
                color: #b2b2b3;
                font-size: 1.6rem;
                line-height: 2.5rem;
                margin-bottom: 1.1rem;
            }
            }
        }
        @media only screen and (min-width: 769px) and (max-width: 1199px){
            &.extended h5{
                font-size: 2.3rem;
                line-height: 3.3rem;
            }
        }
        @media only screen and (max-width: 768px){
            width: calc((100% - 2rem) / 2);
            margin-right: 2rem;
            overflow: hidden;
            &:nth-child(1n){
                width: calc((100% - 2rem) / 2);
                .img{
                    min-height: 20.5rem;
                    height: 25rem;
                }
            }
            &:nth-child(3n){
                margin-right: 2rem;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @media only screen and (max-width: 499px){
            width: 100%;
            margin-right: 0;
            &:nth-child(1n){
                width: 100%;
                margin-right: 0;
                .img{
                    min-height: 20.5rem;
                    height: 30rem;
                }
            }
        }
        @media only screen and (max-width: 399px){
            &:nth-child(1n){
                .img{
                    min-height: 20.5rem;
                    height: 21rem;
                }
            }
        }
      }
    }
    .swiper-button-next,
      .swiper-button-prev {
        width: auto;
        height: auto;
        margin: 0;
        background: #15224e;
        border-radius: 50%;
        svg{
            width: 27px;
            height: 14px;
            margin: 2.8rem 2.15rem;
        }
      }
  }
.title-invisible.invisible{
    opacity: 1;
    transform: translate(0,0);
}
.invisible {
    transform: translateY(30rem);
    opacity: 0;
    transition: all 1.2s cubic-bezier(0,.99,.73,1.01);
    &.no-anima{
        opacity: 1;
        transform: none;
    }
    &.table{
        .vgt-table tr{
            transform: translate(100vw,0);
            transition: all 1.2s ease-in-out;
        } 
    }
    &.right-left{
        transform: translate(100vw,0);
        opacity: 1;
        transition: all 1.5s cubic-bezier(0,.99,.73,1.01);
    }
    &.in-viewport {
        opacity: 1;
        transform: translateY(0);
        &.table{
            @for $i from 0 through 100 {
                .vgt-table tr:nth-child(#{$i}) {
                    transform: translate(0, 0);
                    transition-delay: 0.5s + 0.1s * $i;
                }
            }
        }
    }
}
.hero.invisible {
    transform: translateY(0);
    opacity: 1;
    .news {
        transform: translate(100vw, 0);
        transition: all 1.5s cubic-bezier(0.2, 0.64, 0.28, 1);
    }
    &.in-viewport {
        @for $i from 0 through 3 {
            .news:nth-child(#{$i}) {
                transform: translate(0, 0);
                transition-delay: 1s + 0.3 * $i;
            }
        }
    }
}
.latest-news{
    .news-list.invisible{
        transform: translate(0, 0);
        opacity: 1;
        .news {
            transform: translate(100vw, 0);
            transition: all 1.5s cubic-bezier(0.2, 0.64, 0.28, 1);
        }
        &.in-viewport {
            @for $i from 0 through 3 {
                .news:nth-child(#{$i}) {
                    transform: translate(0, 0);
                    transition-delay: 0.5s + 0.3 * $i;
                }
            }
        }
    }
}
.slider-default .slider-overlay.invisible {
    opacity: 1;
    transform: translate(0, 0);
    .swiper-slide .player-block {
      transform: translate(100vw, 0);
      transition: all 1.5s cubic-bezier(0.2, 0.64, 0.28, 1);
    }
    &.in-viewport {
      @for $i from 0 through 30 {
        .swiper-slide:nth-child(#{$i}) {
          .player-block {
            transform: translate(0, 0);
            transition-delay: 0.5s + 0.3 * $i;
          }
        }
      }
    }
}

.bio {
    p {
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 300;
        color: #222;
        margin-bottom: 1.5rem;
      }
}

.staff-text{
    p{
        font-size: 1.6rem;
        font-weight: 300;
        color: #363636;
        margin-bottom: 1.5rem;
        letter-spacing: 0;
        font-family: $Rob;
        strong{
            font-family: 'Poppins', sans-serif;
            display: inline-block;
            font-weight: 500;
            color: #363636;
            margin-bottom: 0.5rem;
        }
    }
}

.container-small{
    p{
        font-weight: 300;
        strong{
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.social-sharing{
    li > span{
      display: flex;
      width: 2rem;
      height: 2rem;
      background-size: cover;
      background-position: center;
      margin: 0 0.75rem;
      cursor: pointer;
      @media only screen and (max-width: 768px) {
          margin-left: 0.5rem;
      }
    }
}

.page-content .about.invisible{
    opacity: 1;
    transform: none;
    p {
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.3s ease-in-out;
    }
    &.in-viewport {
      p {
        @for $i from 0 through 100 {
          &:nth-child(#{$i}) {
            opacity: 1;
            transform: translate(0, 0);
            transition-delay: 1.5s + 0.2s * $i;
          }
        }
      }
    }
  }

  .content-image.invisible {
    transform: none;
    opacity: 1;
    h4,
    .tags a {
      transform: translateX(100vw);
      transition: all 1.5s cubic-bezier(0.2, 0.64, 0.28, 1);
    }
    &.in-viewport {
      h4 {
        transform: translate(0, 0);
        transition-delay: 1.5s;
      }
      .tags {
        @for $i from 0 through 10 {
          a:nth-child(#{$i}) {
            transform: translate(0, 0);
            transition-delay: 0.1s * $i + 1.4;
          }
        }
      }
    }
  }


  .slider-overlay.small-slider .slick-list {
    @media only screen and (max-width: 599px){
        padding-right: 11.5rem;
    }
  }