$orange: #FBBB00;
$orangeHover: #ffa200;
$textColor: #363636;
$textBlue: #283891;
$white: #FFFFFF;
$blue: #15224E;
$grey: #A8A8A8;
$Mont: 'Montserrat', sans-serif;
$Rob:  'Roboto', sans-serif;



$easeOutQuint : cubic-bezier(0, 0.92, 0.26, 1.02);
$easeInQuint :cubic-bezier(.99,0,.93,.49)