<template>
  <div id="app">
    <div class="prevent-overlay"></div>
    <app-preloader></app-preloader>
    <app-modal></app-modal>
    <app-header :links="links" />

    <transition name="slide-left" mode="out-in" @enter="enter">
      <router-view></router-view>
    </transition>
    <component :is="layout"></component>
    <app-footer></app-footer>
  </div>
</template>

<script>
const url = "https://backend.football.1pls1.com/api";

import Header from "@/components/shared/Header";
import Footer from "@/components/shared/Footer";

import Preloader from "@/components/shared/Preloader";
import Modal from "@/components/shared/Modal";

import { getScrollState } from "scroll-lock";

function preventTouchScroll(touchElement) {
  var _overlay = document.querySelector(touchElement);
  var _clientY = null;
  _overlay.addEventListener(
    "touchstart",
    function(event) {
      if (event.targetTouches.length === 1) {
        _clientY = event.targetTouches[0].clientY;
      }
    },
    { passive: false }
  );
  _overlay.addEventListener(
    "touchmove",
    function(event) {
      if (event.targetTouches.length === 1) {
        disableRubberBand(event);
      }
    },
    { passive: false }
  );
  function disableRubberBand(event) {
    var clientY = event.targetTouches[0].clientY - _clientY;
    if (_overlay.scrollTop === 0 && clientY > 0) {
      event.preventDefault();
    }
    if (isOverlayTotallyScrolled() && clientY < 0) {
      event.preventDefault();
    }
  }
  function isOverlayTotallyScrolled() {
    return _overlay.scrollHeight - _overlay.scrollTop <= _overlay.clientHeight;
  }
}
window.addEventListener("scroll", () => {
  document.documentElement.style.setProperty(
    "--scroll-y",
    `${window.scrollY}px`
  );
});

export default {
  name: "app",
  watch: {},
  computed: {
    layout() {
      return this.$route.meta.layout || "default-layout";
    },
    links() {
      return [
        {
          title: "Season",
          class: "sub-menu",
          subMenu: [
            { title: "Standings", url: "/standings" },
            { title: "Schedule", url: "/schedule" },
            { title: "News", url: "/news" }
          ]
        },
        {
          title: "TEAM",
          class: "sub-menu",
          subMenu: [
            { title: "Players", url: "/players" },
            { title: "Staff", url: "/staff" }
          ]
        },
        { title: "About", url: "/about" },
        { title: "SPONSORS", url: "/sponsors" }
      ];
    }
  },
  methods: {
    loading(payload) {
      this.$store.commit("setLoading", payload);
    },
    isMobile() {
      if (document.documentElement.clientWidth < 769) {
        return this.$store.dispatch("determineResolution", true);
      } else {
        return this.$store.dispatch("determineResolution", false);
      }
    },
    enter(element) {
      setTimeout(() => {
        document.querySelector(".social").classList.add("in-viewport");
        if (document.querySelector(".home-hero") != null) {
          document.querySelector(".home-hero").classList.add("in-viewport");
        }
      }, 1000);
    }
  },
  mounted() {
    window.onload = () => {
      this.loading(false);
      document.querySelector(".social").classList.add("in-viewport");
      var element = document.querySelector(".home-hero");
      if (element != null) {
        element.classList.add("in-viewport");
      }
    };
    this.isMobile();
    preventTouchScroll(".prevent-overlay");
    preventTouchScroll("nav");
    window.addEventListener("resize", this.isMobile);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.isMobile);
  },
  components: {
    "app-header": Header,
    "app-footer": Footer,
    "app-preloader": Preloader,
    "app-modal": Modal
  }
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(20rem, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2rem, 0);
}
</style>
