<template>
  <div>
    <slot />
    <app-shop></app-shop>
    <app-sponsors class="invisible" v-in-viewport.once="{margin: '-50px'}"></app-sponsors>
  </div>
</template>
<script>
import Shop from "@/components/shared/Shop";
import Sponsors from "@/components/shared/Sponsors";
export default {
  name: "DefaultLayout",
  components: {
    "app-shop": Shop,
    "app-sponsors": Sponsors
  }
};
</script>